[2015-11-07 13:56] tcoopman opened #2 "Is it possible to use pseudo classes"
The title says it all: Is it possible to use pseudo classes? (hover for example)?

[2015-11-07 13:59] tcoopman opened #3 "Locally scoped class names"
https://github.com/css-modules/css-modules has locally scoped class names by default. It would be nice if _elm-stylesheets_ has this possibility too.

(Great work btw!)

[2015-11-12 15:20] rtfeldman commented on #3
Totally agree! :+1:

[2015-11-12 15:21] rtfeldman commented on #2
That's the plan, although haven't added support for them yet. :)

[2015-12-01 03:59] #3 closed

[2015-12-01 20:17] tcoopman commented on #3
Nice work! Going to try this soon!

[2015-12-01 20:25] rtfeldman commented on #3
There's a lot more on the mvp branch - see the PR :)

[2015-12-12 08:03] chrisbuttery opened #9 "margin: auto"
It would be great if the various margin declarations accepted `auto` as a value as well as `number`.
I'd be keen to see how you could solve this (with Elm), so I could potentially help with other properties.

[2015-12-21 17:44] rtfeldman opened #10 "1.0.0 Roadmap"
- [x] Specify enough docs and exposed modules to satisfy `elm package publish`
- [x] Finish all the combinator permutations (e.g. `>.` and `|#`)
- [x] Add support for pseudo-classes and pseudo-elements
- [x] Run elm-format :boom:
- [x] Merge in the `npm` branch
- [x] Implement Mixins
- [x] Have the Node .css file generator spit out error messages (and nonzero exit code) if prettyPrint fails
- [x]

[2015-12-21 17:57] rtfeldman commented on #2
This is now possible! https://github.com/rtfeldman/elm-css/blob/a56ee25c19f379ed34e05dfe9ea8516ea14f2df5/src/Css.elm#L1301-L1306

[2015-12-21 17:57] #2 closed

[2015-12-21 20:20] rtfeldman commented on #9
Unfortunately, unlike something like `display auto` and `display inline`, there's no way to make both `marginLeft 5 px` and `marginLeft auto` compile; either `marginLeft` takes one argument or it takes two.

Thus far `margin` is the only property in the CSS spec I've encountered that accepts either `auto` or a length value, so I'm leaning towards special-casing the `auto` case with something like

[2015-12-21 20:40] rtfeldman opened #11 "Animation keywords"
These are keywords necessary to cover animations.

**Note:** namespacing animation names in the same way that we do with classes is probably a good idea.

- [ ] [`animation`](https://developer.mozilla.org/en-US/docs/Web/CSS/animation)
- [ ] [`animationDelay`](https://developer.mozilla.org/en-US/docs/Web/CSS/animation-delay)
- [ ] [`animationDirection`](https://developer.mozilla.org/en-US/docs/Web/

[2015-12-21 20:40] rtfeldman opened #12 "Post-1.0.0 keywords"
These are keywords that don't seem necessary for 1.0.0, but which would be required to completely implement the spec.

- [ ] [`additive-symbols`](https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style/additive-symbols)
- [ ] [`border-block-end-width`](https://developer.mozilla.org/en-US/docs/Web/CSS/border-block-end-width)
- [ ] [`border-block-start-width`](https://developer.mozilla.org/e

[2015-12-21 20:41] rtfeldman opened #13 "Flexbox keywords"
These are keywords necessary to cover Flexbox

- [ ] [`alignItems`](https://developer.mozilla.org/en-US/docs/Web/CSS/align-items)
- [ ] [`alignSelf`](https://developer.mozilla.org/en-US/docs/Web/CSS/align-self)
- [ ] [`flex`](https://developer.mozilla.org/en-US/docs/Web/CSS/flex)
- [ ] [`flexBasis`](https://developer.mozilla.org/en-US/docs/Web/CSS/flex-basis)
- [ ] [`flexDirection`](https://develo

[2015-12-21 20:41] rtfeldman opened #14 "Miscellaneous keywords"
These are keywords that are in the spec but not mentioned in other issues. Some of them should probably be moved to https://github.com/rtfeldman/elm-css/issues/12

- [ ] [`align-content`](https://developer.mozilla.org/en-US/docs/Web/CSS/align-content)
- [x] [`all`](https://developer.mozilla.org/en-US/docs/Web/CSS/all)
- [ ] [`attr`](https://developer.mozilla.org/en-US/docs/Web/CSS/attr)
- [ ] [`ba

[2015-12-21 20:51] rtfeldman opened #15 "Border keywords"
These are keywords necessary to cover Border

- [x] [`border`](https://developer.mozilla.org/en-US/docs/Web/CSS/border)
- [x] [`border-block-end`](https://developer.mozilla.org/en-US/docs/Web/CSS/border-block-end)
- [x] [`border-block-end-color`](https://developer.mozilla.org/en-US/docs/Web/CSS/border-block-end-color)
- [x] [`border-block-end-style`](https://developer.mozilla.org/en-US/docs/Web/CS

[2015-12-21 20:52] rtfeldman opened #16 "Background keywords"
These are keywords necessary to cover Background

- [ ] [`background`](https://developer.mozilla.org/en-US/docs/Web/CSS/background)
- [ ] [`background-attachment`](https://developer.mozilla.org/en-US/docs/Web/CSS/background-attachment)
- [ ] [`background-blend-mode`](https://developer.mozilla.org/en-US/docs/Web/CSS/background-blend-mode)
- [ ] [`background-clip`](https://developer.mozilla.org/en-U

[2015-12-21 20:57] rtfeldman opened #17 "Column keywords"
These are keywords necessary to cover Column

- [ ] [`columns`](https://developer.mozilla.org/en-US/docs/Web/CSS/columns)
- [ ] [`column-count`](https://developer.mozilla.org/en-US/docs/Web/CSS/column-count)
- [ ] [`column-fill`](https://developer.mozilla.org/en-US/docs/Web/CSS/column-fill)
- [ ] [`column-gap`](https://developer.mozilla.org/en-US/docs/Web/CSS/column-gap)
- [ ] [`column-rule`](http

[2015-12-21 21:01] rtfeldman opened #18 "Filter keywords"
These are keywords necessary to cover Filter.

**Note:** Because `opacity` is a top-level property, and these properties take an `opacity()` function, this will need a new kind of duality not before seen.

- [ ] [`brightness`](https://developer.mozilla.org/en-US/docs/Web/CSS/filter#brightness())
- [ ] [`blur`](https://developer.mozilla.org/en-US/docs/Web/CSS/filter#blur())
- [ ] [`contrast`](https

[2015-12-21 21:03] rtfeldman opened #19 "Resolution keywords"
These are keywords necessary to cover Resolution

- [ ] [`dpcm`](https://developer.mozilla.org/en-US/docs/Web/CSS/resolution#dpcm)
- [ ] [`dpi`](https://developer.mozilla.org/en-US/docs/Web/CSS/resolution#dpi)
- [ ] [`dppx`](https://developer.mozilla.org/en-US/docs/Web/CSS/resolution#dppx)

[2015-12-21 21:11] rtfeldman opened #20 "Font keywords"
These are keywords necessary to cover Font

- [ ] [`@character-variant`](https://developer.mozilla.org/en-US/docs/Web/CSS/@font-feature-values#@character-variant)
- [ ] [`character-variant()`](https://developer.mozilla.org/en-US/docs/Web/CSS/font-variant-alternates#character-variant())
- [ ] [`font`](https://developer.mozilla.org/en-US/docs/Web/CSS/font)
- [ ] [`@font-face`](https://developer.mozi

[2015-12-21 21:34] rtfeldman opened #21 "Margin keywords"
These are keywords necessary to cover Margin

- [x] [`margin`](https://developer.mozilla.org/en-US/docs/Web/CSS/margin)
- [x] [`margin-block-end`](https://developer.mozilla.org/en-US/docs/Web/CSS/margin-block-end)
- [x] [`margin-block-start`](https://developer.mozilla.org/en-US/docs/Web/CSS/margin-block-start)
- [x] [`margin-bottom`](https://developer.mozilla.org/en-US/docs/Web/CSS/margin-bottom)

[2015-12-21 21:38] rtfeldman opened #22 "Padding keywords"
These are keywords necessary to cover Padding

- [x] [`padding`](https://developer.mozilla.org/en-US/docs/Web/CSS/padding)
- [x] [`padding-block-end`](https://developer.mozilla.org/en-US/docs/Web/CSS/padding-block-end)
- [x] [`padding-block-start`](https://developer.mozilla.org/en-US/docs/Web/CSS/padding-block-start)
- [x] [`padding-bottom`](https://developer.mozilla.org/en-US/docs/Web/CSS/padding

[2015-12-21 22:21] rtfeldman opened #23 "Transform keywords"
These are keywords necessary to cover Transform

- [x] [`matrix()`](https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function#matrix())
- [x] [`matrix3d()`](https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function#matrix3d())
- [x] [`perspective()`](https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function#perspective())
- [x] [`rotate()`](https://developer.mozilla.o

[2015-12-21 22:25] rtfeldman opened #24 "Text keywords"
These are keywords necessary to cover Text

- [x] [`text-align`](https://developer.mozilla.org/en-US/docs/Web/CSS/text-align)
- [x] [`text-align-last`](https://developer.mozilla.org/en-US/docs/Web/CSS/text-align-last)
- [x] [`text-decoration`](https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration)
- [x] [`text-decoration-color`](https://developer.mozilla.org/en-US/docs/Web/CSS/text-deco

[2015-12-21 22:43] rtfeldman opened #25 "Check hexadecimal values for validity"
Have `hex` use `regex "^([a-fA-F]{3}|[a-fA-F]{6})$"` to confirm it's been given a valid hex. If not, result in an `InvalidStyle`.

[2015-12-22 06:19] chrisbuttery commented on #9
Yeah after noodling about I realised the same thing. Perhaps we do roll with something like `marginXAuto` ( `x` being `Top`, `Right`, `Bottom` and `Left` ). I'll try and look at that in a few days (on a train ride to Seattle) and make a PR if you like ?

[2015-12-22 06:30] rtfeldman commented on #9
:+1: Sounds awesome!

[2015-12-23 01:55] rtfeldman commented on #9
Found another case: [border widths](https://developer.mozilla.org/en-US/docs/Web/CSS/border-width)

I'm not thrilled with it, but maybe `marginLeft (px 5)` is as good as it gets here.

[2015-12-23 02:05] rtfeldman commented on #9
To elaborate, in the border case the `marginLeftAuto` thing doesn't really scale.

You have things like:

[code]

Supporting all the different combinations of `border` as well as `margin` as well as `outline`, plus `height` and `width`, sounds unwieldy.

[2015-12-23 08:33] rtfeldman commented on #9
Upon further consideration, I actually like the idea of aliasing `xx = 0` and then doing by convention:

[code]

So `xx` would be shorthand for "there's no relevant number here," and it would get ignored in the output.

[2015-12-23 09:04] rtfeldman commented on #9
Hrm, that creates other problems though. For example, I like the idea of having different functions that correspond to the different arities that CSS offers:

[code]

Those get pretty weird if you have to double the number of arguments. Which one is `margin4` at that point - the one that takes 4 arguments (`number -> Units -> number -> Units`) and compiles down to 2, or the one that takes eight ar

[2015-12-23 09:12] rtfeldman commented on #9
For completeness's sake, here are two other things I tried:

[code]

...and then the "abuse the parser" version of that:

[code]
These seemed like they'd take about as much getting used to as `(px 5)`, except they're more verbose.

[2015-12-24 01:29] #25 closed

[2015-12-24 01:34] rtfeldman opened #32 "Validity checks"
This is not MVP, but at some point I'd like to have `elm-css` do some additional checks for invalid values (perhaps once the Declarations have been assembled, or perhaps sooner...waiting for Declarations arguably allows extra context and thus nicer error messages, but requires more regexp work).

Some checks that sound good:
- [x] Run a regex (`regex "^([a-fA-F]{3}|[a-fA-F]{6})$"` for hex colors)

[2015-12-24 01:59] rtfeldman commented on #9
Okay, I went with the `(px 5)` approach - implemented in https://github.com/rtfeldman/elm-css/pull/33

It's a bit less aesthetically pleasing, but it's way simpler. Thanks for raising the issue @chrisbuttery!

[2015-12-24 01:59] #9 closed

[2015-12-24 03:38] chrisbuttery commented on #9
Here's a little something from my sandbox.

I've created a `px` function to return a string. e.g. `"20px"`

[code]

I then changed the `width` and `margin` functions to accept a String, like so.

[code]

As `attr1` expects a translation function, I'm just using `(\str -> str)` to return the param for now.

Now the syntax is very familiar.
If the value of String is incorrect `margin "foo"`, the bro

[2015-12-24 03:46] chrisbuttery commented on #9
This was pretty much the desired effect I was after.

[code]

![screen shot 2015-12-23 at 7 46 03 pm](https://cloud.githubusercontent.com/assets/121675/11989196/da8dd59c-a9ad-11e5-9065-50306deaa56c.png)

[2015-12-24 03:48] chrisbuttery commented on #9
@rtfeldman This was pretty much the desired effect I was after.

[code]

![screen shot 2015-12-23 at 7 46 03 pm](https://cloud.githubusercontent.com/assets/121675/11989196/da8dd59c-a9ad-11e5-9065-50306deaa56c.png)

[2015-12-24 03:49] lukewestby commented on #21
I've got this one! Will be done at some point tonight or tomorrow.

[2015-12-24 03:53] rtfeldman commented on #9
@chrisbuttery That's pretty much where I ended up (check out the current README for examples).

Here's how your sample would look once all the `margin` functions have been implemented:

[code]

Note that thanks to various union types, we already have stricter type-checking than Strings for these...on current `master` you can do `~ width auto` or `~ width inherit` or `~ width (px 5)` but if you try

[2015-12-24 03:54] rtfeldman commented on #9
I also added `zero` which compiles to a bare `0`, because that comes up a lot.

[code]

...compiles to:

[code]

[2015-12-24 03:55] rtfeldman commented on #21
:metal:

[2015-12-24 03:55] chrisbuttery commented on #9
Oh nice! :+1:

Dang, sorry I was late to the party, I only got time to look at this now.

[2015-12-24 03:56] rtfeldman commented on #9
Thanks for surfacing it! I think we ended up with the right API taking all the design constraints into account.

[2015-12-24 09:20] rtfeldman opened #38 "Should we support something like `@extend` or `composes` in addition to mixins?"
Both SASS's `@extend` and CSS Modules's `composes` have to do with using CSS classes to reuse code. Classes are more limited than mixins (for example, they can't incorporate pseudo-classes or pseudo-elements), but whereas mixins disappear after compilation, classes stick around; the browser is actually aware of them. Is that a good justification for expanding their use as a method of style composi

[2015-12-24 09:42] #21 closed

[2015-12-24 09:44] rtfeldman commented on #15
I'm working on this one. It's in progress!

[2015-12-24 09:45] rtfeldman commented on #11
I intend to do this one, as animations are thorny enough that may require revisiting other APIs.

[2015-12-24 14:00] lukewestby commented on #22
I've got this one today!

[2015-12-24 16:38] lukewestby commented on #38
I wholeheartedly agree that `@extend` introduces more potential issues than it solves, so I'm -1 on including that style composition. We've started using CSSModules at Raise and to me the biggest productivity gain there (aside from local scoping) is that it makes it much easier to manage conditional styles in React components. Instead of `className={[classes.button, classes.buttonPrimary, classes.

[2015-12-24 16:44] lukewestby opened #40 "Split out Css.Elements"
What do you think about separating keywords for selectors, properties, media queries, etc. into separate modules? I'm trying elm-css out on a personal project right now and I'd like to colocate each component's CSS with its view, but the html selector keywords clash with `elm-html`'s element functions. I'd love to be able to do:

[code]

[2015-12-24 17:08] rtfeldman commented on #40
Interesting...I'm definitely open to the idea!

I was hoping to avoid the "three imports to get anything done" situation that `Html` has (with `Html`, `Html.Attributes`, and `Html.Events`) but this is a compelling use case for `Css.Elements` in particular.

I'm okay with saying we should split out Elements, and then revisit other splits as specific use cases like this one arise.

[2015-12-24 17:11] lukewestby commented on #40
Sounds great! Splitting out elements should definitely be sufficient, I hadn't thought about how more splitting might affect the docs and it's definitely good to avoid cluttering imports more than needed.

[2015-12-24 17:51] rtfeldman commented on #40
Cool! I will take care of this.

[2015-12-24 18:05] rtfeldman commented on #38
Yeah, the way CSS Modules does that is what got me thinking about this. Certainly you can already use [`classList` from `elm-css-helpers`](https://github.com/rtfeldman/elm-css-helpers/blob/master/src/Css/Helpers.elm#L16) to make reusable classes like `buttonPrimaryLarge` in that example. That's not quite what CSS Modules does, though, because with `composes` the composition is defined in the style

[2015-12-25 07:56] #15 closed

[2015-12-25 18:14] #22 closed

[2015-12-25 21:09] rtfeldman opened #43 "Position"
These are keywords necessary to cover Position

- [x] [`position`](https://developer.mozilla.org/en-US/docs/Web/CSS/position)
- [x] [`top`](https://developer.mozilla.org/en-US/docs/Web/CSS/top)
- [x] [`left`](https://developer.mozilla.org/en-US/docs/Web/CSS/left)
- [x] [`bottom`](https://developer.mozilla.org/en-US/docs/Web/CSS/bottom)
- [x] [`right`](https://developer.mozilla.org/en-US/docs/Web/C

[2015-12-25 21:46] #43 closed

[2015-12-26 01:00] #40 closed

[2015-12-26 01:01] rtfeldman commented on #38
Okay, I'm happy with where this ended up. Closing!

[2015-12-26 01:01] #38 closed

[2015-12-26 16:46] rtfeldman commented on #18
I'm gonna take this one because `opacity` is overloaded. I have an idea on how to do that nicely.

[2015-12-26 16:55] lukewestby commented on #23
i've got this one!

[2015-12-26 16:56] rtfeldman commented on #23
Awesome! :smile_cat:

[2015-12-26 16:58] rtfeldman commented on #32
Now that `~` just resolves mixins, I think the properties themselves can handle these - and with context. Just need to have `InvalidStyle` build up an error message context instead of being a no-op so often, and have stuff like `prop1` incorporate the notion of adding to the error context.

Then we can get fail fast, nice error messages, etc.

[2015-12-27 02:57] #19 closed

[2015-12-27 04:08] #24 closed

[2015-12-27 04:21] lukewestby commented on #40
Awesome, thanks for doing this!

[2015-12-27 09:12] rtfeldman opened #48 "Add tests for at least one of each possible value"
Every property needs a check to make sure it can be set to `initial`, `unset`, `inherit`, plus all the other appropriate ones.

Don't need to use elm-check for this; just need to make sure they all type-check.

[2015-12-28 19:28] rtfeldman opened #51 "Add comment support for compatibility with style guide generators"
http://trulia.github.io/hologram/

One possible API: add a `comment` function that emits comments.

[code]

...outputs:

[code]

Supporting this would require changing `Declarations` to support `Comment`.

[2015-12-28 21:44] rtfeldman opened #52 "Migration tool: convert a CSS file to en elm-css file using PostCSS's css-to-AST"
This would be a great way to convert existing css files to elm-css files. Since [PostCSS](https://github.com/postcss/postcss) already has a JS tool for taking in a CSS file and turning it into an AST, this could presumably be accomplished by starting with that and then outputting an elm-css file from that AST.

[2015-12-29 02:53] lukewestby commented on #10
Question about elements: should every element be implemented or just some subset? For example, it's possible to style a `<script>` or `<track>` tag but idk why you would want to. I've started going through the list on MDN but I don't want to overdo it. Thoughts?

[2016-01-01 02:03] rtfeldman opened #55 "Add documentation for type aliases"
For example, `Color` should be exported and should be in `@docs`. Also true of most `type aliases` in the program.

[2016-01-01 02:41] rtfeldman commented on #10
Just a subset, although I'd err on the side of adding more. :)

[2016-01-03 05:36] rtfeldman opened #56 "Tests for continuing the "Or""
It's important that `>$`, `>>$` continue styling the previous `|$`, `|#`, and `|.` if applicable.

In other words, this:

[code]
...should compile to this:

[code]

There should be tests confirming this.

[2016-01-06 17:27] NicholasGW commented on #13
Working on these currently, so nobody else picks them up :).

[2016-01-06 17:30] joshmh commented on #13
See https://github.com/rtfeldman/elm-css/pull/58

[2016-01-06 17:31] NicholasGW commented on #13
Thanks, that's my PR when I just asking Richard some questions :P Just though I'd post here now that I've done a few more in case nobody checked the PRs

[2016-01-06 17:34] joshmh commented on #13
Haha, right. Somehow I missed that it was you. Looking forward to this.

[2016-01-06 20:46] NicholasGW commented on #13
Having an issue with flex-flow, and likely flex.

With flex-flow, it can accept either flex-direction, flex-row, or both, in any order since the keywords are unique.

My problem is, with most multi-parameter CSS properties, they have a defined order. For example, with text-shadow, you must do "color" followed by "values" or vice versa. Also, you must have both to specify color (you can't do `text-

[2016-01-06 20:55] NicholasGW opened #59 "Opacity or other integer only properties cannot use initial, inherit or unset"
This is basically because all the other property functions work in such a way that they will be given a function to return a compatible record:

    ~ display inline

This means you can just add any new props to the definition of BasicProperty and they will function. With opacity though, presumably you want to do something like this:
    ~ opacity 0.2

Which means opacity currently assume it's get

[2016-01-07 13:52] #59 closed

[2016-01-07 13:52] NicholasGW commented on #59
This is what n is for :)

[2016-01-15 19:24] rtfeldman commented on #56
LOL I remember back when the DSL looked like this.

This problem doesn't exist anymore.

[2016-01-15 19:24] #56 closed

[2016-01-16 19:51] rtfeldman opened #61 "Support charset, namespace, and import"
There are three [non-nested at-rules](https://developer.mozilla.org/en-US/docs/Web/CSS/At-rule) in CSS: [`@charset`](https://developer.mozilla.org/en-US/docs/Web/CSS/@charset), [`@import`](https://developer.mozilla.org/en-US/docs/Web/CSS/@import), and [`@namespace`](https://developer.mozilla.org/en-US/docs/Web/CSS/@namespace).

They have extremely strong restrictions on how you can use them. A sty

[2016-01-19 17:48] rtfeldman opened #65 "hsl and hsla functions"
We should have `hsl` and `hsla` functions that:

* Compile to `hsl()` and `hsla()` in CSS, respesctively. These are supported in [IE9+](http://caniuse.com/#feat=css3-colors), which makes them reasonable to include as a passthrough compile without (for example) converting to `rgb` behind the scenes.
* Records warnings if you pass numbers outside the acceptable range for these values (see how `rgb`

[2016-01-19 20:41] lukewestby commented on #65
I can do this one later tonight or tomorrow. Haven't written any Elm yet this week and it's making me grumpy :smile:

[2016-01-20 18:44] fobos opened #67 "Examples doesn't work"
Hi @rtfeldman

I tried to run `elm make HomepageView.elm` and got an error
[code]

It would be great you fix examples. I'm trying to use `elm-css` in one of my non-production app.

Thanks.

[2016-01-21 04:32] rtfeldman opened #68 "rgbaFromHex"
This needs to be implemented: https://github.com/rtfeldman/elm-css/blob/master/src/Css.elm#L635-L643

Semantics:
* Should work with hexadecimal strings of length 3, 4, 6, or 8 (the 4 and 8 would include alpha, just like in CSS)
* If you give it a crazy value, like you use non-hexadecimal chars or a crazy length, it should return appropriate warning messages

Relatedly, there should probably also b

[2016-01-22 23:01] rtfeldman commented on #67
Fixed in 199036c75267647d06382d405fc97ad1f1dc485a!

[2016-01-22 23:01] #67 closed

[2016-01-23 23:18] rtfeldman opened #70 "Have Units record numeric value as well as units string"
Per https://groups.google.com/forum/#!topic/elm-discuss/hD0Nv3QKAnw

Similarly to how I can now do this:

[code]

...and get back `22`, there's no reason I shouldn't be able to do:

[code]

...and get back `30`.

A simple matter of having the units functions record their units in the output record.

[2016-01-24 08:36] eeue56 opened #71 "Namespace exported `Helpers` under Css"
`Helpers` should be `Css/Helpers`, since `Helpers` is a common file name and causes conflicts

[2016-01-24 08:58] eeue56 opened #72 "It should be possible to somehow do maths with Units"
e.g

[code]

Obviously can't use `+`, but some other operator

[2016-01-24 09:40] eeue56 opened #73 "`class` from helpers should take a list"
e.g

[code]
where `swimlaneType : CssClasses`

right now I have to do

[code]

[2016-01-24 11:22] tcoopman opened #74 "elm-css-webpack-loader"
First of all, very nice project!
I'm just trying it out for the first time and I got it working smoothly.

But now I was thinking that it would be nice to have a webpack loader (or even integrate this with the elm-webpack-loader).
I know that this package is not ready yet, so this kind of idea is probably not yet on the roadmap, but it might be nice to already have a discussion about it.

For me t

[2016-01-24 14:07] rtfeldman commented on #74
:+1: Makes sense to me!

There's already an index.js which exposes the necessary hooks to create a Webpack loader; if someone wants to take a stab at it, please comment here to avoid duplicated effort. :smile_cat:

[2016-01-24 14:11] rtfeldman commented on #73
Ah, I see - the difference is that in elm-html's version of things, you can do this trivially because it takes a `String`. I'm on board; will change in the next release. :+1:

[2016-01-25 05:58] rtfeldman commented on #72
Hm...suppose the operator is `|+|` (let's say) - what happens if you do this? `(em 5) |+| (px 10)`?

[2016-01-25 05:59] rtfeldman commented on #72
Oh, actually I might be able to make that a type error. I'll give it a shot.

[2016-01-25 07:06] rtfeldman commented on #72
Totally works! 62e865704cbda6d702dfb7a21cc59c93f8523cb7

And the type errors are helpful too!

<img width="1020" alt="screen shot 2016-01-25 at 1 22 53 am" src="https://cloud.githubusercontent.com/assets/1094080/12544075/4acc173c-c304-11e5-972f-3f1d089e727b.png">

[2016-01-25 07:19] rtfeldman commented on #72
So this NRI Sass code (with class names changed)...

[code]

...can now be done in elm-css as of https://github.com/rtfeldman/elm-css/commit/62e865704cbda6d702dfb7a21cc59c93f8523cb7

[code]

Only two differences are:

* You have to divide by `2px` instead of `2`. That's a bit strange but unavoidable.
* There's no `negate` equivalent. I think that's fine for now.

[2016-01-25 08:02] eeue56 commented on #72
Seems good to me. It's also worth noting that `em` can be turned into `px` based off [this table](http://v1.jontangerine.com/silo/css/pixels-to-ems/) but I wouldn't worry about it too much.

[2016-01-25 14:33] #61 closed

[2016-01-25 14:33] #70 closed

[2016-01-25 14:33] #71 closed

[2016-01-25 14:33] #73 closed

[2016-01-25 14:33] #72 closed

[2016-01-26 16:55] lukewestby commented on #68
These functions should return a `Color` property with an `rgba(r,g,b,a)` value?

[2016-01-26 17:12] rtfeldman commented on #68
It's actually that I changed `Color` to include `red`, `green`, and `blue` values, so you can now go `(rgb 22, 23,224).red` and get back `22`. This lets people do color mixing and such.

This is where the function lives now: https://github.com/rtfeldman/elm-css/blob/master/src/Css.elm#L844-L854

Incidentally, here's the equivalent for `hsl` and `hsla`: https://github.com/rtfeldman/elm-css/blob/mas

[2016-01-26 17:30] lukewestby commented on #68
got it! i can do this one tonight or tomorrow.

[2016-01-26 17:35] rtfeldman commented on #68
Awesome! :smile_cat:

[2016-01-26 17:56] fobos commented on #67
@rtfeldman Thanks! :+1:

[2016-01-27 23:52] mdgriffith opened #76 "Add a `color : Color.Color` field to `Css.Color`"
I'm starting a package for [color mixing functions in elm](https://github.com/mdgriffith/elm-color-mixing).

My plan is to cover all color functions that are documented in the LessCss preprocessor:

[http://lesscss.org/functions/#color-operations](http://lesscss.org/functions/#color-operations)

And to use the [Core Color type](http://package.elm-lang.org/packages/elm-lang/core/2.1.0/Color) provid

[2016-01-28 08:44] rtfeldman commented on #68
Closing in favor of https://github.com/rtfeldman/elm-css/issues/76 cc @lukewestby - turns out having the records have a `color : Color` field (as in `Color` from core) will be more beneficial to people writing generic color mixing libraries, and I think it makes more sense to optimize for that use case than for the "pulling out `red`, `green`, or `blue` on an individual basis" use case.

[2016-01-28 08:44] #68 closed

[2016-01-28 08:45] rtfeldman commented on #65
These exist now. Thanks @lukewestby! :smiley_cat:

[2016-01-28 08:45] #65 closed

[2016-01-28 08:46] rtfeldman commented on #76
This should be pretty straightforward.

We just need to add a `color : Color.Color` field such that you can ultimately do this in elm-repl:

[code]

[2016-01-29 03:26] lukewestby commented on #68
sweet! that's awesome :metal:

[2016-01-29 23:00] mdgriffith commented on #76
Just fyi, I finished the initial version of the color mixing library:
http://package.elm-lang.org/packages/mdgriffith/elm-color-mixing/1.0.2/

[2016-01-29 23:05] rtfeldman commented on #76
Awesome! :tada:

[2016-01-31 12:20] jwoudenberg commented on #16
I've got this one!

[2016-01-31 18:15] rtfeldman commented on #16
Awesome, thank you! :smile_cat:

[2016-02-02 19:31] kittykatattack opened #79 "Vendor prefixes?"
Hello!

This is a feature request for automatic vendor-prefixes for the "experimental" CSS properties.

Thanks!

[2016-02-04 09:01] tcoopman commented on #79
Wouldn't this be easier as a post processing step?
I've been thinking about doing a webpack loader for elm-css (see #74) and then you could just chain it with https://github.com/postcss/autoprefixer#webpack to get the vendor prefixes.
Of course you could do a similar thing with other tools.

[2016-02-04 19:17] lukewestby commented on #79
I agree with @tcoopman, things that can be done once you have a complete CSS file are better handled by another tool like PostCSS. Better to keep the scope of this tool focused :smile:

[2016-02-04 19:36] kittykatattack commented on #79
I would prefer to have an all-in-one tool rather than to add an additional processing step.

[2016-02-04 19:45] tcoopman commented on #79
@kittykatattack I can see why you would want that, but for me personally (from a user perspective), I would love for the maintainers to only focus on making elm-css as good as possible without having to worry about things like vender-prefixes.
It seems that css is already hard enough without having to worry about vendor-prefixes.

For me the extra step of for example using PostCSS (with a plugin t

[2016-02-11 22:23] rtfeldman commented on #79
Good news: I agree with everyone in this thread! :smile_cat:

I recently went over how the elm-css internals work with @evancz and @eeue56, and  the result is that now elm-css supports lightweight *stylesheet transformations* that mean it is now something like Sass plus PostCSS in a tasty Elm wrapper. :yum:

For example, I extracted the namespace functionality into a transformation: https://github

[2016-02-11 22:25] rtfeldman commented on #79
(Having said that, if you don't want to wait for someone to implement some sort of automatic prefixing solution for elm-css, I also agree that using PostCSS right now is totally rad.)

[2016-02-15 18:02] kittykatattack commented on #79
@rtfeldman Thank you so much, Richard! :sparkling_heart:
I actually think these built-in features are extremely important.
One of main reasons I'm using Elm is to escape JavaScript Toolchain Dependency Hell and the Build-Management Death Spiral.
I love the fact that I can run `elm make` and its suddenly all just Lotus Petals and Kittens :smile:

[2016-02-15 18:50] lukewestby commented on #79
@kittykatattack already underway in light of this news :smile:

https://github.com/lukewestby/elm-css-autoprefix

[2016-02-15 19:04] kittykatattack commented on #79
Utopia!!

[2016-02-15 19:58] ulrikaugustsson commented on #74
I created this gist: https://gist.github.com/ulrikaugustsson/684dfaa7b83147c8035f am I starting to get close or is this really far off from what would be required for a loader?

I stole most of the code from elm-webpack-loader

[2016-02-16 00:19] rtfeldman commented on #74
@ulrikaugustsson looks like a good start! I wouldn't hardcode `src/` though. :wink:

[2016-02-18 16:02] jgillich commented on #13
@NicholasGW I'm pretty new to Elm, but at least for now, what about simply not implementing shorthands? `flex-flow` is just a shorthand for `flex-direction` and `flex-wrap`, which both take a single value.

Have you made any progress so far? I'd like to help to make this happen.

[2016-02-18 16:05] NicholasGW commented on #13
@jgillich Thanks for the input, but I actually got flexbox done in PR #58!

https://github.com/rtfeldman/elm-css/pull/58

[2016-02-18 16:09] jgillich commented on #13
Cool, totally missed that! I guess this can be closed then? @rtfeldman

[2016-02-18 16:30] jgillich commented on #13
How do you set `display: flex`? Looks like that isn't implemented, or I'm missing something again.

[2016-02-18 16:56] NicholasGW commented on #13
@jgillich right you are! I think it might work by virtue of using a string but there definitely should be a defined function for it like there is for inline or inline-block etc. Care to take a stab?

[2016-02-20 21:22] tcoopman commented on #74
@ulrikaugustsson any progress on this? If not, I'd like to take a look at it.

[2016-02-22 06:39] ulrikaugustsson commented on #74
@tcoopman You can take it over, I don't know enough about webpack loaders to do this in a good way and I don't have the time either.

[2016-02-22 07:36] tcoopman commented on #74
Ok, I already have a local version working, I'll try to push it this week to github so that we can make something out of it.

[2016-02-25 19:06] kittykatattack opened #83 "Can elm-css be used in Elm files?"
Hello!

Just a quick question: is `elm-css` intended to be a stand-alone, or can it be used in Elm files as a substitute for `Html.Attributes`?

[2016-02-26 01:03] igrep commented on #83
I'm not sure this is officially supported, but https://github.com/rtfeldman/elm-css/blob/master/src/Html/CssHelpers.elm seems to help you.
I learned by searching this repository with "Attribute".

[2016-03-01 06:33] rtfeldman commented on #83
Not for all attributes, but yeah, that's the idea - you import the helpers and then they shadow `id`, `class`, and `classList` with drop-in replacements that work with your union types and/or namespaces.

[2016-03-02 17:47] kittykatattack commented on #83
Thanks, I will try that!
I'm doing my first big production Elm app, and the only headache has been the silent failure of CSS code.
This library will really help :)

[2016-03-05 02:05] rtfeldman commented on #83
Since this has been answered, I'm gonna close it!

[2016-03-05 02:05] #83 closed

[2016-03-05 02:24] lukewestby commented on #79
@rtfeldman can this be closed?

[2016-03-05 02:31] rtfeldman commented on #79
Yep!

[2016-03-05 02:31] #79 closed

[2016-03-05 02:32] lukewestby commented on #20
@rtfeldman i'm gonna look at implementing some of these tonight, but it looks like a few are already in there. do you know which ones? if not i can go through and figure out which are done.

[2016-03-05 02:34] rtfeldman commented on #20
I don't know, unfortunately...but the compiler will probably complain right away if there are duplicates!

[2016-03-05 02:42] lukewestby commented on #20
sounds good, i'll take a look. thanks!

[2016-03-05 18:15] lukewestby opened #86 "Node version support"
Should the command line tool be supported for node < v4? The current implementation uses template strings which aren't implemented in < v4 so CI is failing for those runtimes.

[2016-03-05 18:21] eeue56 commented on #86
I'm torn. Happy to remove template strings if we want to support old node, but I really think that supporting 4+ is fine. There's a few posts talking about how 0.12 still has wide usage, but I don't think those companies are the ones using Elm or interested in using elm-css.

[2016-03-05 18:23] lukewestby commented on #86
I agree. I think 0.12 having wide usage is more a concern for server-oriented modules than it is for tooling-oriented ones.

[2016-03-05 18:40] eeue56 commented on #86
What do you think @rtfeldman ?

[2016-03-05 20:44] rtfeldman commented on #86
Yeah, I think 4+ is fine. :smile:

[2016-03-06 18:33] SerialVelocity opened #87 "Can't import Html.CssHelpers"
Hey,

I'm having trouble with your 1.0.0. I need to manually modify your elm-package.json to have more exposed modules. Specifically ```Html.CssHelpers```, and ```Css.Namespace```. There's probably a tonne but I've only just started looking at the library :)

Am I using the library incorrectly or is the elm-package.json out of date?

Cheers,
SerialVelocity

[2016-03-06 20:43] eeue56 commented on #87
You're not wrong. There used to be a css-helpers package, but I'm not sure of @rtfeldman's long term plan. Maybe worth opening a PR for it?

[2016-03-09 00:58] eeue56 commented on #87
cc @rtfeldman this is a slight blocker :dart:

[2016-03-11 09:47] ulrikaugustsson commented on #74
@tcoopman Did you get this working?

[2016-03-11 14:35] tcoopman commented on #74
I've got something basic working yes.
I'll try to publish it on github this weekend

On Fri, 11 Mar 2016 10:47 Ulrik Augustsson, <notifications@github.com>
wrote:

[2016-03-11 19:07] #86 closed

[2016-03-12 09:45] chrisbuttery opened #89 "Example isn't working"
I'm getting the following error when running `elm reactor` in the examples dir, or
`elm-css src/Stylesheets.elm` from the command line

[code]

[2016-03-12 11:34] eeue56 commented on #89
In the process of upgrading so things will work nicely with elm-package. This will be fixed soon and then publiahed. Grab 1.0.0 for now

[2016-03-12 21:16] nikgraf opened #90 "Missing Keyword for: { cursor: pointer; }"

[2016-03-12 21:26] nikgraf opened #91 "How to use the elm-css tool when installing from elm packages?"
The only way I got it working was doing something like this:

https://github.com/belle-ui/elm-belle/commit/e5c46ef847236ad9b8e5e86e5d016e35f0d38a33#diff-04c6e90faac2675aa89e2176d2eec7d8R28

This was hard to find out. Is there better way? If not I'm happy submit a PR to the readme …

[2016-03-13 05:08] jbalboni opened #92 "No `String -> MediaQuery` function for custom media queries"
Hi,

I'm trying to use media queries like this:

[code]

I'm new to Elm, so I could be missing it, but it looks like only queries like `@media "print"` are supported. Is that correct? Is there any way for me to use more generic functions to generate the right output?

Thanks!

[2016-03-13 09:55] #89 closed

[2016-03-14 16:26] lukewestby commented on #92
Hey! You can use the `media` function to nest style blocks under a media rule https://github.com/rtfeldman/elm-css/blob/51813109f7ba3a2f239a011bbdcf6d4cb2b12d0e/src/Css.elm#L3525-L3534

[2016-03-14 17:09] jbalboni commented on #92
@lukewestby This is what I see for that function in the 1.1.0 tag, which seems like it's only allowing you to pass `MediaQuery` values to the `media` function, and those values are only the different media types (print, screen, etc).

https://github.com/rtfeldman/elm-css/blob/1.1.0/src/Css.elm#L4111

[2016-03-16 12:02] jgillich commented on #87
This is fixed and can be closed, right?

[2016-03-16 12:08] SerialVelocity commented on #87
Possibly. I saw ```Css.Namespace``` was removed again. What has it been replaced by?

[2016-03-16 12:09] jgillich commented on #87
Nevermind, `Css.Namespace` still appears to be missing..

[2016-03-16 12:12] SerialVelocity commented on #87
It was added by e825047f but removed again by ec9661d5

[2016-03-16 14:41] eeue56 commented on #87
`Css.Helpers.namspace` now has `.rules`, which is the scoped version of the old Css.Namespace.namespace

[2016-03-17 12:19] jgillich commented on #87
Is the example in the README supposed to work?
[code]

[2016-03-17 13:17] eeue56 commented on #87
Not with 1.0.0 - I haven't pushed it yet since I'm trying to make sure that the next release will work for sure :)

[2016-03-17 13:21] jgillich commented on #87
Ah I see, thanks!

[2016-03-21 01:02] mbylstra opened #97 "Would you consider a `raw` function for adding additional properties as a raw string?"
The idea is something like this:

[code]

The `raw` function would just spit out raw css, with no type checking. I don't know enough about elm-css to know how this would be implemented. `raw` would return a list of something (I don't know what).

I realise this goes against one of the goals of elm-css, which is of type safety. However, here are two justifications for this approach:

1. It gives th

[2016-03-21 01:07] eeue56 commented on #97
You can already do that here - https://github.com/rtfeldman/elm-css/blob/master/src/Css.elm#L4717

Obviously, you can't do it as a block, but implementing that is trivial:

[code]

[2016-03-21 01:09] mbylstra commented on #97
Excellent :)

[2016-03-21 01:09] #97 closed

[2016-03-21 08:56] mbylstra opened #98 "Why is the core Color.Color type not used to define colors?"
elm-css defines its own `Css.Color` type rather then using the core `Color.Color` type. It also redefines functions such as `rgb` that are defined in the core library. This seems a bit redundant and means you must map between Core color types and Css color types when using Core color types. Is there a good reason for this?

[2016-03-22 09:15] klaftertief opened #99 "Parent rule gets printed one time for each rule in its `children`"
That means the generated CSS can have multiple identical rules.

E.g.

[code]

gets compiled to

[code]

Is this expected behaviour? One could fix the CSS by splitting the parent in one definition with just the styles and one with just the children. Or would there be a more idiomatic way?

[2016-03-24 16:23] rtfeldman commented on #98
Good question! It's to allow supporting `color inherit` and the like.

For example, you can't write a function called `color : Color.Color -> Mixin` that can accept `color inherit` unless `inherit` is a `Color.Color`.

If we go down that road, then to support something like `height inherit`, now `height` needs to (bizarrely) be `height : Color.Color -> Mixin`.

Having said that, `Css.Color` is a r

[2016-03-24 16:23] #98 closed

[2016-03-24 16:25] rtfeldman commented on #99
Good catch! This is unintended and clearly unnecessary behavior. :smile:

[2016-03-24 16:27] rtfeldman commented on #92
@jbalboni Ah, good point. I'd intended to expose a `String -> MediaQuery` function and apparently it slipped through the cracks. Sorry about that!

[2016-03-24 16:27] rtfeldman commented on #92
Should also do the same for the other At-Rules, come to think of it.

[2016-03-24 16:30] rtfeldman commented on #91
You can do `npm install -g elm-css` and then run `elm-css Stylesheets.elm` to compile the files.

Check out https://github.com/eeue56/json-to-elm/tree/master/elm for an example Stylesheets.elm file, or the [`examples`](https://github.com/rtfeldman/elm-css/tree/master/examples) folder in this repo!

[2016-03-24 22:37] nikgraf commented on #91
Will do that, although it would be super cool to avoid npm at all when using Elm :smile:

[2016-03-24 22:37] #91 closed

[2016-03-24 23:43] rtfeldman commented on #10
Welp, guess I can close this one.

[2016-03-24 23:43] #10 closed

[2016-03-26 20:27] jessitron opened #100 "while not all valid type selectors are included, expose typeSelector"
is there a way to make a `typeSelector "aside"` without forking the project and using a local copy?

[2016-03-27 00:43] eeue56 commented on #100
You mean like http://package.elm-lang.org/packages/rtfeldman/elm-css/1.1.0/Css#selector ?

[2016-03-27 16:29] jessitron commented on #100
Thanks! That's what I didn't find.

On Sat, Mar 26, 2016 at 7:43 PM, Noah <notifications@github.com> wrote:

[2016-03-27 16:38] #100 closed

[2016-03-30 22:43] rtfeldman commented on #74
@tcoopman any update on this?

[2016-03-31 06:22] tcoopman commented on #74
I have a draft version working
https://github.com/tcoopman/elm-css-webpack-loader/blob/master/README.md
I didn't have time last week to further look into it. I'll try today or
tomorrow to have a working version ready for npm

On Thu, 31 Mar 2016 00:43 Richard Feldman, <notifications@github.com> wrote:

[2016-03-31 06:30] raiscui opened #101 "need new hex function so colorString can colored on IDE"
![image](https://cloud.githubusercontent.com/assets/857943/14167276/905bbf9c-f74c-11e5-9485-86580f46b9d8.png)

it's useful, just make new hex' or hexStr , the code is very simple, I already have，but I think more people   will like this

[2016-03-31 14:20] eeue56 commented on #101
Couple of things:

- Why do you need this?
- How does adding a function that does pretty much nothing new help?
- If you can make it, open a PR.

[2016-03-31 23:41] rtfeldman commented on #74
Awesome! :smiley_cat:

[2016-04-01 05:13] raiscui commented on #99
and  when it has more  Combinators in  one parent

`
(.)
      Container
      [ nodeDefMix
      , overflow hidden
      , children
          [ (.) Children [ width (px 111) ] ]
      , descendants
          [ (.) Descendants [ width (px 22) ] ]
      , adjacentSiblings
          [ (.) AdjacentSiblings [ width (px 33) ] ]
      , generalSiblings
          [ (.) GeneralSiblings [ width (px 44) ] ]

[2016-04-01 06:45] raiscui commented on #101
I make a PR. #102

[2016-04-01 06:45] #101 closed

[2016-04-01 16:47] rtfeldman commented on #99
:+1: thanks for the detailed report!

[2016-04-02 22:46] SandiDusic opened #104 "Errors when adapting the example for my project"
For starters, [this example code](https://github.com/rtfeldman/elm-css/blob/1.1.0/examples/src/HomepageCss.elm) uses a module which does not exist, namely Css.Namespace, which seems to be replaced by Html.CssHelpers. This lead me to believe the example is outdated (though it compiled to Css just fine with elm-css).

I took files from that project and changed them around to fit my needs. This file

[2016-04-03 20:26] tcoopman commented on #74
Didn't find time this weekend, going to do my best this week...

[2016-04-06 18:45] tcoopman commented on #74
@rtfeldman is it possible to to build the css without writing it to a file, but just get the css output back? This is going to be cleaner for webpack, to pass it to an other loader (css-loader for example)

[2016-04-06 19:12] eeue56 commented on #74
@tcoopman have a look at how I implemented compileToString for node-elm-compiler

[2016-04-07 20:13] tcoopman commented on #74
@eeue56 Thanks!

I've pushed a basic working version.
I haven't released it as a npm package yet, I'm waiting for the #87 to be fixed so that the examples work out of the box.

[2016-04-09 15:32] kof opened #106 "Generating style sheets at runtime"
I wonder if it makes sense for elm-css to opt in generating style sheets at runtime (I am the author of [jss](https://github.com/jsstyles/jss)). It brings a number of benefits:

- Smaller CSS payload (up to 50%). Things like [vendor prefixer](https://github.com/postcss/autoprefixer) and [autoreset](https://www.npmjs.com/package/postcss-autoreset) and mixing rules using elm (same for all server-sid

[2016-04-09 15:51] eeue56 commented on #106
You can already do it at runtime.

[2016-04-09 15:52] eeue56 commented on #106
There's no requirement to use the CLI tool at all

[2016-04-09 17:34] kof commented on #106
So it renders a style sheet? or inline styles?

[2016-04-09 17:49] eeue56 commented on #106
It renders CSS, what you do with it after that is up to you. Stick it in a style tag, or make it render as a stylesheet. Also possible to use as inline styles. http://package.elm-lang.org/packages/rtfeldman/elm-css/1.1.0/Css#compile

[2016-04-09 17:53] kof commented on #106
Thanks.

[2016-04-09 17:53] #106 closed

[2016-04-09 17:55] eeue56 commented on #106
@kof is this everything you needed?

[2016-04-09 17:56] kof commented on #106
So it has no abstraction for working with a CSS string at runtime: attaching/detaching to/from dom when component mounts, modifying rules at runtime, applying vendor prefixes and other things for e.g. jss does.

I think it might play well together, but I am not deep enough in elm and elm-css right now.

[2016-04-09 18:04] eeue56 commented on #106
We don't have this concept in Elm. When a component is rendered in the view, it is totally possible to attach the CSS then however.

This is totally possible and dead easy. You just have to use that function I linked, instead of using elm-css as a server-processed language and instead one in the browser. Very very very easy.

It is trivial to do this for Elm-css and it has been rewritten in a way

[2016-04-09 18:09] kof commented on #106
Interesting, I def. need to play with it, sounds to good)

[2016-04-10 00:52] altaic commented on #104
+1

[2016-04-12 21:47] tolgap commented on #32
@rtfeldman While working on #105 I noticed that `propN` methods are sometimes used with multiple `type aliases` that do not have a notion of `warnings` attached to them, like `textDecoration3`:

[code]

So I left them untouched for the time being. Once we are sure that these types have error handling as well, we could incorporate `propN` functions to pass through warnings as well and that would cl

[2016-04-12 21:52] rtfeldman commented on #32
Yep, makes sense to me!

[2016-04-15 20:17] tcoopman commented on #74
I've just published version 1 of the elm-css-webpack-loader: https://www.npmjs.com/package/elm-css-webpack-loader with lots of thanks to @roman!

[2016-04-15 20:17] #74 closed

[2016-04-17 18:58] jessitron commented on #87
In 2.0.0, the solution is:

`elm package install rtfeldman/elm-css-helpers`

This contains Html.CssHelpers

and then the function of relevance is withNamespace:

`(id, class, classList) = Html.CssHelpers.withNamespace "mynamespace"`

This is necessary to use the CSS classes in a typesafe way.
Which is totally not obvious and can we please add this to the README?

[2016-04-17 19:14] eeue56 commented on #87
Yup! can you please make a PR for this?

[2016-04-18 00:18] jessitron opened #109 "TypeError unless the Stylesheets module name is just so"
Turns out, elm css is only gonna read a module named `Stylesheets`. Leave off that s on the module name, and this is the error:

[code]

[2016-04-18 01:18] jessitron commented on #87
done: https://github.com/rtfeldman/elm-css/pull/110

[2016-04-18 04:55] eeue56 commented on #109
Interesting! And scary. If you use the `elm-css.js`from the repo in master, do you get this same error? It's possible that the version on npm is outdated

[2016-04-18 05:00] eeue56 commented on #109
Ah, right. You need to use the `--module Stylesheet` option for this not to blow up -> https://github.com/rtfeldman/elm-css/blob/master/elm-css.js#L13

I can take a stab at changing this, there are some general improvements to the CLI tool needed anyway

[2016-04-18 13:12] jessitron commented on #109
Failing is fine, if it gave an actionable error.

On Monday, April 18, 2016, Noah <notifications@github.com> wrote:

[2016-04-18 18:50] rtfeldman opened #111 "Clear keywords and clearfix"
Path to a "batteries included" `clearfix` implementation:
- [ ] Everything under MDN docs for `clear`: https://developer.mozilla.org/en-US/docs/Web/CSS/clear
- [ ] `display: table`
- [ ] Uncomment [`clearfix`](https://github.com/rtfeldman/elm-css/blob/f84f908e24dc9a0c46fb294cff11c83adfbdf267/src/Css.elm#L4700-L4715), expose it, and add tests

[2016-04-18 19:07] rtfeldman commented on #87
Thanks @jessitron! 🎉

[2016-04-24 15:56] krisajenkins opened #114 "Css should expose the Length type."
At the moment, this function cannot be defined:

[code]

...without throwing:

[code]

Without the annotation, the function compiles.

[2016-04-24 15:57] krisajenkins commented on #114
Actually, without the annotation, the compiler gives this advice, which ain't gonna work:

[code]

[2016-04-24 16:04] eeue56 commented on #114
Yeah - this is where I stumbled onto this problem too (trying to publish our helpers as a package, everything needs a type alias) and it gave those suggestions instead

[2016-05-09 20:33] #114 closed

[2016-05-09 21:12] #99 closed

[2016-05-14 01:02] rchrdnsh opened #119 "Quick Question regard elm-css syntax..."
Hola @rtfeldman!

sooooo...

you prefer this:

`padding (px 8)`

to this:

`padding 8px`

?

Just curious as to your thought process and / or any limitations or requirements of elm itself to make the syntax this way? Or maybe you prefer latin based languages? ( The cat that is black vs. The black cat... px 8 vs 8px ;-P )

I'm generally always looking for ways to reduce stuff to type, but I'm sure

[2016-05-14 02:22] rtfeldman commented on #119
There's no way to make the latter a function call in Elm. :)

On Fri, May 13, 2016, 6:02 PM rchrdnsh <notifications@github.com> wrote:

[2016-05-14 04:29] rchrdnsh commented on #119
ah, i see, since everything in elm is simply an elm function, and that is the common syntax for elm functions...makes sense...

was no biggie, was just curious, thank you :-)

[2016-05-14 05:47] rtfeldman commented on #119
No prob!

On Fri, May 13, 2016, 9:29 PM rchrdnsh <notifications@github.com> wrote:

[2016-05-14 11:50] devnacho opened #120 "Ports error syntax"
Hey @rtfeldman @eeue56,

Thanks for releasing the new update for 0.17 👏🏼

I'm running elm-css
`elm-css src/elm/Stylesheets.elm -o src/styles`

and I'm getting this Syntax Error
[code]

Is it possible that the following no longer works with 0.17 syntax of [defining ports](http://guide.elm-lang.org/interop/javascript.html)?

[code]

If it's of any help this is my [Stylesheets port module](https://gi

[2016-05-17 04:11] #120 closed

[2016-05-19 14:50] alebon opened #125 "Error: ReferenceError: Elm is not defined"
Can not build examples or new projects. Got this error and no files are generated, installed elm (npm install -g elm and npm install -g elm-css).

examples git:(master) ✗ elm css -module Stylesheets src/Stylesheets.elm
Success! Compiled 0 modules.
Successfully generated /var/folders/2j/9vgg7gfn2952ydks2221cpfr0000gn/T/tmp-52171pz7hIC9JxBuz/emitter.js
Error: ReferenceError: Elm is not defined

[2016-05-21 10:37] jwoudenberg commented on #125
I had the same problem, it was fixed with #124 but that change is not yet found in the version on NPM.

As a workaround for now, you can clone the repo, `npm link` it and then use the version of `elm-css` exposed directly by the cloned repo.

[2016-05-22 16:46] jaapz opened #127 "Cannot set property 'innerHTML' of undefined"
After moving to elm 0.17, when I try to compile my stylesheets, I get the error `Cannot set property 'innerHTML' of undefined.

    $ elm css src/Stylesheets.elm
    Success! Compiled 1 module.
    Successfully generated /tmp/tmp-203399vbfNzSjsZyJ/emitter.js
    Error: TypeError: Cannot set property 'innerHTML' of undefined

    $ elm
    Elm Platform 0.17.0 - a way to run all Elm tools

I am usin

[2016-05-26 03:47] msdark commented on #127
I was having the same issue, looks like now you need to set an entry point/main function for your `Stylesheets.elm` module like

        port module Stylesheets exposing (..)

    import Css.File exposing (..)
    import Html exposing (div)
    import Html.App as Html

    import HomepageCss as Homepage

    port files : CssFileStructure -> Cmd msg

    cssFiles : CssFileStructure
    cssFiles =

[2016-05-26 04:19] msdark opened #128 "Ids out of sync"
The resulting Html is not in sync with the names of the css ids.

`Style.elm`

      type CssIds
      = Container
      | Header

    navbarNamespace: Html.CssHelpers.Namespace String a b c
    navbarNamespace =
      withNamespace "navbar"

`View.elm`

     ...
    { id, class, classList } = navbarNamespace
    navbar : Html a
    navbar =
       header [id Header] []

The results is
`<header id

[2016-05-26 12:19] jaapz commented on #127
Interesting. I'll try that... However that smells like a bad API to me, @rtfeldman maybe you can shed some light on the issue?

[2016-05-26 12:29] jaapz commented on #127
So I used to do this:

    elm css src/Stylesheets.elm

Which worked for earlier versions.
However with the current version that breaks (as described in the issue).

I do have a `Html.program` which has the cssFiles port in my "Main" program, so I just call:

    elm css src/Main.elm --module=Main

Which does output the correct CSS files.

Still think this is pretty weird though.

[2016-05-26 21:18] rtfeldman commented on #125
@alebon @jwoudenberg just published 0.5.0 - let me know if this fixes it?

[2016-05-27 05:37] alebon commented on #125
Yes, for me it works now with 0.5.0

[2016-05-27 05:38] #125 closed

[2016-05-27 20:07] #119 closed

[2016-05-27 21:01] tolgap opened #129 "Psuedo elements are ignored when resolving"
See file: https://github.com/rtfeldman/elm-css/blob/0dff7d3ba870f76b75a0aeebabd84cc813389d9d/src/Css/Preprocess/Resolve.elm#L366

It does include a TODO, but it's also nice to have an issue that we can track.

[2016-05-30 08:20] stkb commented on #128
Yeah I noticed this too while trying the example in this repo, where the styles referenced by IDs don't get applied because of this reason. It looks like #115 was a fix to this and I don't know why but that was closed without comment.

[2016-05-30 21:49] jbalboni commented on #92
@rtfeldman Looks like this was fixed with #112, so I'm going to close it. Thought I'd tag you in case you wanted to make an issue for working with the other At-Rules.

[2016-05-30 21:49] #92 closed

[2016-06-01 13:36] msdark commented on #128
@rtfeldman any idea ?

[2016-06-01 22:19] ulyssesp opened #130 "Error on `port files =`"
With Elm 0.17 I'm getting an error in the `Stylesheets` module on `port files =`:

[code]

According to the elm architecture tutorial (http://guide.elm-lang.org/interop/javascript.html) it looks like special handling of ports has to be declared separately from the port itself.

[2016-06-02 04:12] rtfeldman commented on #130
Hm...do you have `port module` at the very top of the file? Or just `module`?

[2016-06-02 04:44] rtfeldman commented on #128
I closed #115 without comment because it didn't make sense to me, and since the author put only a microscopic sliver of effort into clarifying intent, I decided against wasting more time on it. 😉

However, it looks like #115 was correct. (I honestly didn't notice because I never use IDs for styling, but since IDs are supposed to be globally unique, makes sense not to namespace them.)

Published fi

[2016-06-02 08:40] gigathlete commented on #128
Thank you.

[2016-06-02 19:57] ulyssesp commented on #130
It doesn't work with either of them.

[2016-06-02 20:05] rtfeldman commented on #130
@ulyssesp

[2016-06-02 20:06] ulyssesp commented on #130
Can confirm that @stoeffel's fixes work.

[2016-06-02 20:07] #130 closed

[2016-06-02 21:26] rtfeldman commented on #127
@jaapz examples have now been updated for 0.17. Does that help? If not, can you post a repo that reproduces this?

[2016-06-04 21:18] #128 closed

[2016-06-15 17:27] colvardrm commented on #12
I've been working with elm-css for a couple of days (as a side project alongside my CS degree) and I have implemented the border-collapse property. Would you be interested in a pull request?

[2016-06-15 17:28] colvardrm commented on #12
I'd be happy to do a few more if you are interested. Just let me know if there's anything I can do.

[2016-06-15 17:37] rtfeldman commented on #12
Yeah, absolutely! We're also missing "float" keywords.

On Wed, Jun 15, 2016, 10:28 AM colvardrm <notifications@github.com> wrote:

[2016-06-16 10:09] colvardrm opened #133 "Overloading and Global Values"
The current means of allowing a property to accept overloaded values allows it to accept all of the defined overloaded values. It may also prevent these properties from accepting global values, but this could be due to the issue mentioned below. For example, textAlign can be set to "top", even though it should only accept "left" or "right" from the overloaded values. It also won't accept "inherit"

[2016-06-30 15:44] matsrietdijk opened #136 "PseudoClasses do not resolve correct"
For example:

[code]
Results in:
[code]

[2016-06-30 16:35] matsrietdijk commented on #136
Also if adding statements after a pseudo class the generated css is not was expected:
[code]
Results in:
[code]

[2016-06-30 22:58] rtfeldman commented on #136
Thank you for the concise, detailed explanations! That will definitely help.

[2016-06-30 22:59] rtfeldman commented on #127
No response for about a month, so closing...ping me if this is still reproducible!

[2016-06-30 22:59] #127 closed

[2016-07-01 05:03] bardt commented on #129
Isn't implementation the same (or very similar) to `ExtendSelector` [case](https://github.com/rtfeldman/elm-css/blob/0dff7d3ba870f76b75a0aeebabd84cc813389d9d/src/Css/Preprocess/Resolve.elm#L278)? Things like `::first-child` work for me, and output should be very similar.

[2016-07-01 16:14] tolgap commented on #129
@bardt This is how a `Selector` is defined right now:

[code]

Which is the a sound definition of a selector in my opinion. You can't nest deeper in a pseudo element, but you can in a pseudo class (like `:first-child`).

However, like you said, the logic should mostly be the same, because it needs to be applied to the last `StyleBlock` of a list of declarations. I'm gonna take a stab at this today

[2016-07-05 22:57] bardt commented on #129
Should we close this issue?

[2016-07-05 23:38] #129 closed

[2016-07-05 23:38] rtfeldman commented on #129
Yep, thanks!

[2016-07-09 11:48] architectcodes opened #139 "SVG elements"
Hey there, first of all warm thanks for creating this amazing tool!

Looking for a workaround for https://github.com/rtfeldman/elm-css-helpers/issues/2, I wanted to reach my `<svg>` through a `Css.children` selector combined with a `Css.Elements.svg`. But it turns out that `Css.Elements` only contains strict HTML elements.

I was wondering – is support for SVG elements on your roadmap?

[2016-07-12 11:18] matsrietdijk opened #140 "`each` with pseudo classes only apply to last selector"
[code]
Currently results in:
[code]
Expected was:
[code]

[2016-07-20 21:46] colinwahl commented on #52
Is this still something you would like done? I would give it a shot!

[2016-07-20 22:54] rtfeldman commented on #52
Yes, that would be amazing!!!

On Wed, Jul 20, 2016, 2:46 PM Colin Wahl <notifications@github.com> wrote:

[2016-07-20 22:55] rtfeldman commented on #52
Relevant similar project: https://github.com/eeue56/sass-to-elm

On Wed, Jul 20, 2016, 3:53 PM Richard Feldman <richard.t.feldman@gmail.com>
wrote:

[2016-07-22 16:51] rtfeldman commented on #136
Fixed in https://github.com/rtfeldman/elm-css/pull/142 and https://github.com/rtfeldman/elm-css/issues/143 and released as 4.0.1.

Thanks @tolgap for the fixes, and @matsrietdijk for the excellent error report!

[2016-07-22 16:51] #136 closed

[2016-07-22 16:57] rtfeldman commented on #140
Thanks @matsrietdijk!

This is still reproducible in 4.0.1.

I wrote a failing test to reproduce it on a branch: edf83471b9aaa11c95c86c13f87d1086927bde98 - test output is:

![screen shot 2016-07-22 at 9 56 43 am](https://cloud.githubusercontent.com/assets/1094080/17064681/a0d45c0e-4ff2-11e6-8058-a1a3e8a70cd6.png)

[2016-07-22 16:59] rtfeldman commented on #139
I don't have any concrete plans for SVG elements, but offhand I can't think of why we couldn't support them!

[2016-07-22 18:34] rtfeldman commented on #90
Fixed in https://github.com/rtfeldman/elm-css/pull/144 - thanks @tolgap!

[2016-07-22 18:34] #90 closed

[2016-07-25 13:23] colinwahl commented on #52
After doing some research this weekend, I think that the best approach would be to write a custom PostCSS stringifier to generate elm-css from the AST. I'll try to take a stab at it tonight

[2016-07-25 18:50] rtfeldman commented on #140
Fixed in https://github.com/rtfeldman/elm-css/pull/146 by @tolgap, who is on FIRE with the contributions! 🎆

[2016-07-25 18:50] #140 closed

[2016-07-28 12:44] tomekwi opened #148 "Does `color inherit` not work?"
Hey there,

looking at https://github.com/rtfeldman/elm-css/issues/98 I see that it’s intended to work. But then again, here’s the error I get when I try to use `color inherit` in my code:

<details><summary>```The argument to function `color` is causing a mismatch.```</summary>
[code]
</details>

If you need any more info, I’ll be glad to help.

[2016-07-29 20:48] rtfeldman commented on #133
Note for later: this is two separate issues.

* `borderStyle` is missing `inherit` and `none` support. Probably others have this problem too.
* We should add a validation (like "rgb values can't be below 0 or above 255") to generate warnings for stuff like `textAlign top`. It doesn't seem realistic to catch this as a type mismatch, considering I don't see a way to have `left` still work for `left:

[2016-07-31 05:06] rtfeldman commented on #148
Fixed in https://github.com/rtfeldman/elm-css/pull/150

[2016-07-31 05:06] #148 closed

[2016-08-02 14:55] 7sharp9 opened #152 "Error in example"
[code]

[2016-08-04 22:12] #152 closed

[2016-08-11 01:39] evancz opened #154 "Readme is confusing"
People don't know what this library does. Here are two examples:

  - https://www.reddit.com/r/elm/comments/4wx7i7/wrote_about_my_first_impressions_of_elm/
  - https://groups.google.com/forum/#!topic/elm-dev/f2hvlXieOuc

In one case, the person actually knew about the library, but did not know its full feature set.

If I were to rewrite the readme, I would order it like this:

  - Title
  - Exampl

[2016-08-12 07:05] rtfeldman commented on #154
Thanks for pointing this out! I revised it a bunch. We'll see if it helps.

[2016-08-12 07:05] #154 closed

[2016-08-12 07:15] #87 closed

[2016-08-12 07:20] rtfeldman commented on #20
I've decided to close all the `missing keywords` issues in favor of letting people make PRs based on what specific things they wish existed.

[2016-08-12 07:20] #20 closed

[2016-08-12 07:20] rtfeldman commented on #23
I've decided to close all the `missing keywords` issues in favor of letting people make PRs based on what specific things they wish existed.

[2016-08-12 07:20] #23 closed

[2016-08-12 07:20] rtfeldman commented on #12
I've decided to close all the `missing keywords` issues in favor of letting people make PRs based on what specific things they wish existed.

[2016-08-12 07:20] #12 closed

[2016-08-12 07:20] rtfeldman commented on #11
I've decided to close all the `missing keywords` issues in favor of letting people make PRs based on what specific things they wish existed.

[2016-08-12 07:20] #11 closed

[2016-08-12 07:20] rtfeldman commented on #13
I've decided to close all the `missing keywords` issues in favor of letting people make PRs based on what specific things they wish existed.

[2016-08-12 07:20] #13 closed

[2016-08-12 07:20] rtfeldman commented on #14
I've decided to close all the `missing keywords` issues in favor of letting people make PRs based on what specific things they wish existed.

[2016-08-12 07:20] #14 closed

[2016-08-12 07:20] rtfeldman commented on #16
I've decided to close all the `missing keywords` issues in favor of letting people make PRs based on what specific things they wish existed.

[2016-08-12 07:20] #16 closed

[2016-08-12 07:20] rtfeldman commented on #17
I've decided to close all the `missing keywords` issues in favor of letting people make PRs based on what specific things they wish existed.

[2016-08-12 07:20] #17 closed

[2016-08-12 07:20] rtfeldman commented on #18
I've decided to close all the `missing keywords` issues in favor of letting people make PRs based on what specific things they wish existed.

[2016-08-12 07:20] #18 closed

[2016-08-25 06:35] Deimos28 commented on #139
Hi! Thanks for the work on elm-css! I too would be very interested in styling SVGs!

[2016-08-26 03:47] kevinSuttle opened #156 "CSS Custom Properties"
Is the recommended syntax for "CSS ~~variables~~ Custom Properties" covered by this function?

https://github.com/rtfeldman/elm-css/blob/master/src/Css.elm#L5105

[2016-08-26 03:52] kevinSuttle opened #157 "Possible to leverage elm-html?"
Looking at the duplication here: https://github.com/rtfeldman/elm-css/blob/master/src/Css/Elements.elm#L1

I'm wondering if it's possible in Elm to use that same list of HTML Elements without having to re-declare them. I understand that they're different functions. Just curious more than anything.

[2016-08-26 12:10] tolgap commented on #157
This is not possible because in `elm-html` the elements are defined as:

[code]

Which does not fit in with how we use them at `elm-css`:

[code]

Where the type of `div` being

[code]

The best part is, you don't have to use `elm-html` as your renderer. `elm-css` is agnostic. If you check `elm-package.json`, you'll see that `elm-html` is not a dependency 👍 .

An example: You can also render your

[2016-08-26 14:00] kevinSuttle commented on #157
Ah ok. Good to know!

[2016-08-26 14:00] #157 closed

[2016-08-27 20:48] SandiDusic commented on #104
This works in 0.17.

[2016-08-27 20:48] #104 closed

[2016-08-27 20:57] SandiDusic opened #158 "How are fonts supposed to be set?"
[This tutorial](https://github.com/rtfeldman/elm-css/blob/5b10188fa0bb221a9b6de1a8b1dba46472a22ef7/Tutorial.md) has the following line of code:
```[ fontFamily [ "Georga", "serif" ]```

But when I try something similar in my code, I get the following error:
[code]

The compiler accepts `fontFamily sansSerif` (or serif), but that's not exactly a plethora of choices.

[2016-08-27 21:03] tolgap commented on #158
That should be `fontFamilies` (so plural). Will need to fix that example! If you wouldn't mind, you could apply the fix to that example and open a pull request :)

[2016-08-27 23:53] SandiDusic commented on #158
Sure, I'll do so tomorrow. Thanks for the clarification!

[2016-08-28 12:49] SandiDusic commented on #158
Here: https://github.com/rtfeldman/elm-css/pull/159

[2016-08-28 12:49] #158 closed

[2016-08-31 13:46] scottcorgan opened #160 "Multiple selectors with type safety"
Right now, I can do `selector "html, body"` if I want to create styles that apply to both (this is normally done for a style reset, amongst other use cases). But this does not have any type safety.

I can create 2 different element selectors (in this case `html []` and `body []`) with a mixin, but that repeats the code in the compiled stylesheet (which is why, in my opinion, mixins are bad for CSS

[2016-08-31 13:59] scottcorgan commented on #160
Nm, just found `each`. Ignore this issue.

[2016-08-31 13:59] #160 closed

[2016-09-18 07:39] ivanceras opened #163 "Please consider naming collision to avoid ambiguous usage"
elm-css has function names that is also a function name used in elm-lang standard libraries.

example:

`Html.text` conflicts with `Css.text`, also `(width, height, rgb, etc..)`

Now I have to define a new function

[code]
just so I can continue writing

[code]
elm solve collisions by adding `'` like in.

http://package.elm-lang.org/packages/elm-lang/html/1.1.0/Html-Attributes#type'

[2016-09-18 10:09] tolgap commented on #163
What exactly is the issue here? Your inconvenience of having to type `Html.text` instead of `text`? You could try not exposing everything from the `Css` module.

Elm does not have unsolvable naming collisions. If you have ambiguous usage, just put the module name in front of the function (as you have done in the definition of `txt`).

[2016-09-18 10:59] ivanceras commented on #163
Not a big issue really, just convenience. I usually import modules using

[code]
`Html.text` is mostly used than `Css.text` without having to enumerate the other functions I used and will be used later from each modules.

Seems likeI have to enumerate the functions is use.

[2016-09-18 15:42] eeue56 commented on #163
I agree that it's not perfect. By my advice is to follow PEP 8:

[code]

At NRI, we just use `Css.name`. It's not a big deal. `Css` is three letters, and it means the API for elm-css is guessable. Making it so that every person coming from CSS/SASS/LESS now has to learn new keywords is not a good idea, sorry. I'm closing this issue as a won't fix, since it is _by design_ to have as closely matchin

[2016-09-18 15:42] #163 closed

[2016-09-18 17:15] lukewestby commented on #156
Can you share some more context on what the recommended syntax for CSS Custom Properties is?

[2016-09-18 17:44] kevinSuttle commented on #156
Sure.

Normally they're declared inside the global root selector

[code]

https://philipwalton.com/articles/why-im-excited-about-native-css-variables/

[2016-09-18 18:04] lukewestby commented on #156
gotcha! i think the `root` function is what you're looking for

https://github.com/rtfeldman/elm-css/blob/master/src/Css.elm#L5389

[2016-09-18 23:44] kevinSuttle commented on #156
Cool. That covers `:root`. How about the custom properties?

[2016-09-18 23:48] lukewestby commented on #156
`property` should work for both cases

[code]

I know it's not ideal but it'll get the job done until a typesafe representation of this part of the spec is added to the API

[2016-09-19 01:43] eeue56 commented on #156
Eh, I don't think they should ever get included. What's the benefit of doing a CSS variable when you can just do an Elm one?

[2016-09-19 03:39] kevinSuttle commented on #156
@lukewestby Funny you say that. https://groups.google.com/forum/#!topic/elm-discuss/vvJGw1u7NVQ

[2016-09-19 11:35] eeue56 commented on #156
I already answered in that thread, I am Noah.

[2016-09-19 11:42] eeue56 commented on #156
I don't think this will go anywhere. I don't think there's any point supporting it beyond what you can already do. Reading through the custom property spec confirms this belief - there's nothing in there that wouldn't be better done in Elm land. SASS have [this](https://github.com/sass/sass/issues/1128) issue where they discuss all things CSS in terms of keeping features in order to be a superset

[2016-09-19 11:42] #156 closed

[2016-09-30 07:04] martindemello opened #166 "rgba sets { color | alpha = 1 }"
Wasn't sure if this was a bug or there for a reason, but https://github.com/rtfeldman/elm-css/blob/master/src/Css.elm#L823 always sets alpha to 1 regardless of the input parameter.

[2016-09-30 22:56] rtfeldman commented on #166
Defintely intentional! The alternative would be to have `alpha` be a `Maybe`, which doesn't seem like it'd be worth it. 😄

Thanks for bringing it up though!

[2016-09-30 23:00] rtfeldman opened #167 "Proposal: Replace Css.Color with Color.Color"
## Status Quo

So right now we have functions like these:

[code]

In principle, we could instead have these use the [Color.Color](http://package.elm-lang.org/packages/elm-lang/core/latest/Color) type from `elm-lang/core`:

[code]

This would make [color mixing](https://github.com/rtfeldman/elm-css/issues/76) integration really nice.

## Challenges

There are four main challenges here.

1. The CSS

[2016-09-30 23:10] martindemello commented on #166
i don't get it - `rgb(r, g, b) -> {r, g, b, 1}` makes sense, but `rgba(r, g, b, a)` already validates all four inputs, so why not construct `{r, g, b, a}`?

the current behaviour is inconvenient because i'm trying to write a function to generate svg styles from a Color, and allow that colour to be constructed via `rgba` when calling it.

[2016-10-01 02:56] rtfeldman commented on #167
An alternative would be to introduce `clr : Color.Color -> Css.ColorValue compatible` and `toColor : Css.ColorValue compatible -> Color.Color`

This would be less invasive and would make `initial` and `inherit` continue to work as normal. It would also avoid the `currentColor`, `initialColor`, and `inheritColor` hacks.

[2016-10-01 02:57] rtfeldman commented on #167
I am currently leaning toward the alternative but open to suggestions. 😄

[2016-10-01 02:59] Dremora commented on #167
I was just about to suggest the alternative, but you've saved me from typing a bunch of words :)

One thing, `toColor` might not be able to return `Color.Color` if the value is `initial` or `inherit`.

[2016-10-01 05:01] knewter commented on #167
I kind of like `fromColor` more than `clr` but that's bikeshedding.  I like the alternative.  Is anyone willing to write up a few examples of what using mixing looks like in both styles?  I'd do it but react native...is eating my night.

[2016-10-01 05:03] rtfeldman commented on #167
I gave it that name just thinking about how it'd feel to use. It's the type of thing you'd write out by hand a lot.

[code]

[2016-10-01 07:10] pdamoc commented on #167
What would be the disadvantage of just expanding the `Color` tagged union with `Inherit` and `Initial` maybe having `cssValue` that would output a valid CSS value?

[2016-10-01 11:07] Dremora commented on #167
`Inherit` and `Initial` are not part of what color actually means and don't apply in contexts outside of CSS (I with they were never part of CSS either, and it's totally possible to avoid them entirely, but that's a separate discussion). For instance, these values wouldn't make any sense when drawing on `<canvas>`.

[2016-10-01 12:07] Dremora commented on #111
Just out of curiosity, is there really a need for clearfix to be implemented as part of this library? Flexbox can do it without hacks, is easier to use and has [great browser support](http://caniuse.com/#feat=flexbox).
Another reason against this is the nature of mixins: they bring extra behaviour in the current context. Imagine using this mixin and trying to use `::after` pseudo-element — the two

[2016-10-01 16:28] rtfeldman commented on #167
Yeah, also `Color.toRGB : Color -> { r : Int, g : Int, b : Int, a : Float }` can't really work if the internal `Color` isn't an actual color. It would make a lot of mixing stuff more complicated; I don't think that would be worth it.

[2016-10-02 12:23] tolgap commented on #166
@rtfeldman I have to repeat @martindemello and say "I don't get it".

Function `rgb` calls `rgba` with alpha value of `1`. That's perfectly fine.

Function `rgba` calculates everything needed, and sets the `{ value }` field correctly, but eventually sets the `{ alpha }` value to `1`, even though you explicitly pass the `alpha` value in the function definition.

[2016-10-02 12:36] tolgap commented on #167
@pdamoc If one were to change another `Mixin` to use a tagged union to support `Inherit` and `Initial`, the constructors would collide.

[code]

Could this be avoided with a different kind of construction without introducing too many tagged unions?

[2016-10-03 19:15] #167 closed

[2016-10-04 01:15] rtfeldman commented on #166
That would be because I completely misread the OP. 😨

You're totally right! If you want to put in a PR for this, I would gladly accept it.

Really sorry about that!

[2016-10-04 01:17] martindemello commented on #166
i guess it didn't help that my attempt to link to the line of source went invalid :) will send in a pr

[2016-10-04 21:54] #166 closed

[2016-10-06 17:47] rodrigo-morais opened #174 "Add content to pseudo element"
In pseudo elements as `:before` and / or `:after` is possible to use `content` property.
Today we have a `content` property linked with `flex`. I'd like add a `content` to `:before` and `:after`.

What is the better design for that?

We could reuse the same content and verify the parameter. If the parameter is a `String` then we use it as a property to pseudo element, but if the parameter is a `Le

[2016-10-06 17:58] scottcorgan commented on #174
For now, you can use `property "content" "''"`

[2016-10-12 00:27] Ailrun opened #175 "lineHeight with Number"
Spec of line-height property is
[code]

However, in elm-css,
[code]

Because input of lineHeight only allows `length`, it doesn't allow `number`.

For only one element, `number` makes same result with `percent`, which included in `length`, but for inherited elements, `number` properties aren't computed to fixed length where `percent` are. Because of this difference, `number` properties are preferr

[2016-10-15 20:43] apacala opened #178 "fontWeight normal causing a type mismatch"
Hello and thanks for Elm CSS!

I'm trying to set the font weight using:

[code]

but I'm getting the following error:

[code]

Changing that call to:

[code]

works as expected.

Looking at [weights declarations](https://github.com/rtfeldman/elm-css/blob/237926154cbdaeb38b8cd98afee4e8208e80cef5/src/Css.elm#L4348-L4372), it looks like `normal` is missing, and even the [examples mention normal font

[2016-10-20 02:53] attekei commented on #52
Any progress on this @colinwahl?

I'd like to see something like [HTML to Elm](http://mbylstra.github.io/html-to-elm/), because I feel sometimes that I'm wasting too much time converting existing CSS snippets to Elm code 🙂

If you don't have time, I also could try it, because I'm interested in getting some experience of working with ASTs. The biggest concern is that every single time there is new

[2016-10-20 02:59] eeue56 commented on #52
I have sass-to-elm here -> https://github.com/eeue56/sass-to-elm

but I haven't touched it in a while

[2016-10-20 03:51] attekei commented on #52
@eeue56 Cool! I looked at the PostCSS stringifiers, but seems that PostCSS AST is not abstract enough for making conversion to Elm easy... so maybe I simply create a frontend for sass-to-elm and maybe create some PRs to sass-to-elm if and when I find out-of-date stuff.

[2016-10-20 03:56] eeue56 commented on #52
Sass-to-elm has a webfrontend :)

[2016-10-23 19:31] peacememories opened #180 "Add a watch option to the cli utility"
Hi, and first of all thanks for making such a useful preprocessor =)

I've recently added [support for additional commands](https://github.com/tomekwi/elm-live/pull/68) to the [elm-live](https://github.com/tomekwi/elm-live) server. The goal was to use elm-css within an auto-building environment.

While this works somewhat (the syntax is not great yet), but I feel a better approach would be to star

[2016-10-25 22:42] #175 closed

[2016-10-28 14:28] lpil opened #181 "Use with Javascript"
Hello!

A silly hair-brained question: Can one use this library with Javascript? I'm looking for an alternative to CSS modules and I rather like Elm :)

Cheers,
Louis

[2016-10-30 11:11] eeue56 commented on #181
Yep, just compile it to css

[2016-10-30 16:09] lpil commented on #181
Sorry, I should have been more clear. I mean there importing of class names feature.

[2016-10-31 04:21] #178 closed

[2016-11-01 16:30] butchcom opened #183 "display: table"
I think that there's no support for `display: table` and derivatives (or I'm just not able to find them). I'd really appreciate it, if that could be added.

[2016-11-01 16:51] tolgap commented on #183
@butchcom display: table issue is also mentioned here: https://github.com/rtfeldman/elm-css/issues/111

[2016-11-01 17:35] BrianHicks opened #184 "Math functions add spaces between value and unit"
Smallest example I can find, but it seems to work with all the units:

[code]

Chrome treats this as an invalid value because of the space. I'm using Elm 0.17.1 and elm-css 6.1.0.

[2016-11-01 19:52] BrianHicks commented on #184
Temporary workaround:

[code]

[code]

[2016-11-02 09:04] butchcom commented on #183
Ok, I didn't notice that issue.

[2016-11-02 10:47] tolgap commented on #184
The issue comes from [`combineLengths`](https://github.com/rtfeldman/elm-css/blob/6e18342839443edfebed0c2edb7b09075a1666af/src/Css.elm#L1061) where `String.join " "` is used, adding spaces between the length value and length unit.

[2016-11-02 19:20] rtfeldman opened #185 "Type aliases not exposed"
Ran into needing `BorderStyle` today. I'm sure there are a lot more like this!

[2016-11-03 10:11] amitu opened #186 "z-Index"
How to set zIndex CSS property?

[2016-11-03 11:58] tolgap commented on #186
Z-index is not in elm-css yet. I use the following function:

[code]

If there is a property not present in elm-css, you can use `property` to define it yourself.

[2016-11-03 17:36] amitu commented on #186
@tolgap Thanks :-)

Would be useful to have that bit in README.md (along with how to create a non covered pseudo selector say).

[2016-11-03 18:29] tolgap commented on #186
@amitu you're right. Most opened issues or questions on Slack are about missing properties that can be resolved using `property` function.

[2016-11-12 01:01] xpe opened #188 "Dependency problem causes elm-css to fail with exit code 1"
Running `elm-css src/Stylesheets.elm` gives:

[code]

Please note the last two lines. As I understand it, the message at the top about the bad constraints are recommendations / warnings. Is that correct? (As a side note, I've reported the warning over at the keyboard-extra Github repo.)

If it is indeed only a warning, then `elm-css` should still succeed. It should not fail with exit code 1. Fair?

[2016-11-12 01:04] xpe commented on #188
I just realized that the above message is considered to be an error by `elm-make`. Closing.

[2016-11-12 01:04] #188 closed

[2016-11-15 05:27] cschneid opened #190 "Document changes for 0.18"
When attempting to compile a CSS file that worked in 0.17, I got the following error:

[code]

The solution was in the Elm Slack chat.

Change the `main` function to use `Platform.program`, and you can remove the `view` argument.

[code]

[2016-11-16 02:01] rtfeldman commented on #186
@amitu @tolgap that one is super easy to add if anyone wants to make a PR 😉

[2016-11-16 10:32] Pisys commented on #190
Thx for working this out!

[2016-11-17 04:14] lukewestby commented on #186
#191

it's been a while so i took a stab at it. it turns out that if we want to cover all the possible values for z-index it's not so simple, but covering just ints is fine

[2016-11-18 21:34] hkjels opened #194 "Missing "i" element"
It's fairly common to use `i` for icons. Any particular reason why it's not included?
If not, I can create a pull-request

[2016-11-20 17:08] carlthuringer commented on #190
It looks like the API was significantly simplified in the move to 0.18. See: [The Example](https://github.com/rtfeldman/elm-css/blob/3b84d3a8ff65967345e218b81a7545d7d0bd6f9c/examples/src/Stylesheets.elm)

[2016-11-27 19:43] tolgap commented on #190
@cschneid this seems to have been addressed in PR #197 .

[2016-11-28 21:09] szubtsovskiy opened #198 "Discussion: support for "display flex", "justifyContent flexStart" and similar cases"
Hey guys!

I think elm-css is a great approach and I would like it to become even better. When I was porting styles in my project to elm-css I discovered that it is impossible to use `flex` as argument to `display` function. For the very same reason it is impossible to implement `justifyContent` the way it would align with everything else. In long term I would like elm-css to avoid having function

[2016-12-02 01:13] sporto opened #199 "Is it possible to target child by class?"
I often find the scenario where I need to target a class when on a child element when building menus and tooltips.

For example in plain Css:

[code]

So the tooltip is shown when hovering on the parent element.

I tried something like this in elm-css:

[code]

But this doesn't work. Is it possible to achieve this?

[2016-12-02 01:26] tolgap commented on #199
Any calls to child selectors need to be wrapped in `descendants` function.

        [ (.) ParentClass
            [ hover
                [ descendants
                    [ (.) ChildClass
                        [ display block
                        ]
                    ]
                ]
            ]
        , descendants
            [ (.) ChildClass
                [ display none ]

[2016-12-02 01:40] sporto commented on #199
@tolgap 	thanks

[2016-12-02 01:40] #199 closed

[2016-12-05 04:39] rtfeldman commented on #198
The only way it would be possible to support `display flex` would be to remove support for [the current `flex` function](http://package.elm-lang.org/packages/rtfeldman/elm-css/7.0.0/Css#flex).

There is only one way in Elm to support type-checked overloaded CSS values (e.g. how `none` must be an acceptable argument to both `display` as well as to `float`, even though `inline` must be an acceptable

[2016-12-09 03:38] jbucaran commented on #154
Hi @rtfeldman! Thanks for creating elm-css.

Also, please state what needs to be installed, i.e., exactly what commands need to be entered at the command line to get started.

For example:

[code]

Also, how's this different from elm-css-helpers. A simple "hello, world" example can always go a long way.

[2016-12-09 03:44] jorgebucaran opened #200 "Provide simple, hello world like example."
The current examples are fine. But a simple, "hello world"-like example would go a longer way.

Ideally, something that most people can copy & paste to get an immediate result.

[code]

[2016-12-09 05:43] rtfeldman commented on #194
Fixed in https://github.com/rtfeldman/elm-css/pull/196

[2016-12-09 05:43] #194 closed

[2016-12-09 05:44] rtfeldman commented on #186
Added in https://github.com/rtfeldman/elm-css/pull/195

[2016-12-09 05:44] #186 closed

[2016-12-09 06:43] rtfeldman commented on #190
Fixed in https://github.com/rtfeldman/elm-css/pull/197 - thanks all!

[2016-12-09 06:43] #190 closed

[2016-12-09 06:44] rtfeldman commented on #183
@butchcom @tolgap would be happy to accept a PR to add it!

[2016-12-09 07:28] #184 closed

[2016-12-09 07:28] rtfeldman commented on #184
Thanks all! This will be fixed in next release.

[2016-12-18 15:45] MarkNijhof commented on #52
Does something like this exist for SCSS to Elm-CSS? Or plain CSS to Elm-CSS has that been created?

[2016-12-18 16:15] MarkNijhof commented on #52
Ah SASS will compile SCSS it seems

[2016-12-28 14:19] ydschneider opened #203 "hex sets red, green, blue values to 0"
I just stumbled over this when I tried mixing some colors.
The [`hex`](http://package.elm-lang.org/packages/rtfeldman/elm-css/7.0.0/Css#hex) function currently sets the red, green, and blue values of the resulting [`Color`](http://package.elm-lang.org/packages/rtfeldman/elm-css/7.0.0/Css#Color) to 0. For the sake of clarity, I propose one of the following changes:

1. Change `hex` from `String ->

[2016-12-28 19:04] ydschneider commented on #203
I came to realize that [`hsl`](http://package.elm-lang.org/packages/rtfeldman/elm-css/7.0.0/Css#hsl) and [`hsla`](http://package.elm-lang.org/packages/rtfeldman/elm-css/7.0.0/Css#hsla) behave similarly, so I just [gave it a shot](https://github.com/ydschneider/elm-css/tree/core-color).

I decided to go for option 1 just because it was so quick to implement, but I am curious what others think about

[2016-12-28 19:27] rtfeldman commented on #203
I think option 2 is the way to go, and am going to treat this as a bug.

If anyone can contribute `hsl` and `hsla` implementations that convert to RGB under the hood for color mixing purposes, that would be awesome!

[2016-12-28 19:53] ydschneider commented on #203
For `hsl`/`hsla`, it should suffice to adjust one function:

[code]

This does require `import Color` though.

[2016-12-30 06:11] jaredklewis opened #204 "Nested max/min-width/height media queries"
Hello. The tutorial shows how to use nested media queries, such as `withMedia [ print ] [ color (hex "FF0000") ]`, but is it also possible to include the media's size? I would like to do something similar to the code below, which currently doesn't compile:

[code]

Of course if it is possible, it would also be great to have something like:

[code]

[2017-01-01 15:55] pauldijou opened #206 "Multiple classes selector"
I couldn't find a way to write a selector targeting several classes on the same DOM element. Here is the CSS I'm trying to produce

[code]

This sample is ultra simple and could be solved using inline style for the `display` property but my real use case is more complex and I would like to keep everything inside the CSS file. I can think off two solutions to solve this.

1) Having a `classes` func

[2017-01-02 15:35] tolgap commented on #206
You can use [`withClass`](http://package.elm-lang.org/packages/rtfeldman/elm-css/7.0.0/Css#withClass) for this.

[code]

[2017-01-02 15:38] pauldijou commented on #206
\o/ Thanks a lot, didn't see that function.

[2017-01-02 15:38] #206 closed

[2017-01-04 14:39] jaredklewis commented on #204
Ok, I've added support for these features (and many others!) in PR #207

[2017-01-04 14:46] jaredklewis commented on #198
Just a random comment, I think that because using `displayFlex` is more common than using the `flex` property, I would support leaving it as is, with `display: flex` having the exceptional `displayFlex` representation.

My thinking: if there is an exception, might as well have it be a commonly used one so it is easy to remember. I have been using React for a while. I never forget `className`, but

[2017-01-04 16:04] rtfeldman commented on #198
Could also rename the current `flex` function to `flex1`. That would be inconsistent, but not crazy.

[2017-01-04 17:36] tolgap commented on #198
@rtfeldman if we do that to `flex`, we could do it to every overloaded function at once in 1 breaking API update.

[2017-01-04 17:43] szubtsovskiy commented on #198
It seems better to rename it to `flex3` since this property accepts three arguments. It will keep things consistent.

[2017-01-04 17:50] rtfeldman commented on #198
That's interesting. I wonder which other functions that would impact, and where it would be annoying...

[2017-01-07 12:15] euphocat opened #208 "Css.Colors is not exposed in v 7.0.0"
Therefore I cannot import it... Or maybe I'm not allowed to ?

[2017-01-09 05:34] jaredklewis commented on #204
After some further experimentation, I had another thought. One alternative to using media queries is using the `width` and `height` signals exposed by `Window` to conditionally apply inline styles.

This is not a total replacement of media queries as:

- Elm `Window` does not expose `window.screen` properties like `colorDepth` and `pixelDepth`.

- In order for media features like `grid` or `any-po

[2017-01-09 05:41] jaredklewis commented on #204
Another thought. Some of the more static media features such as `grid`, `any-hover`, `color` and so on could be collected by in JavaScript and then passed in as flags to `programWithFlags, though this might breakdown if the user moves the window to a different monitor or something.

[2017-01-11 23:20] gkubisa opened #210 "Support the `warn` option"
The `warn` option could just be passed on to `node-elm-compiler` to enable the warnings.

[2017-01-12 19:55] eeue56 commented on #210
Is there additional context on this?

[2017-01-13 11:16] gkubisa commented on #210
Well, I'd like to see the Elm compiler warnings for my Elm stylesheets. It's not hugely important but would be nice to have IMHO.

[2017-01-13 13:24] tolgap commented on #210
Aren't you using the classes/styles in your Elm app? Compiling your app with `--warn` should also generate warnings for your stylesheets, because you import them in your app.

[2017-01-18 06:16] #208 closed

[2017-01-22 21:50] lukewestby opened #218 "Nested module names aren't supported"
Currently one can customize the module name used by elm-css with the `--module=Whatever` option. The value passed in is used as a single string and a check is performed to look up the module name on the top-level Elm object:

[code]

This means that any module name with nested qualifiers will fail. For example, trying to pass `Apps.Editor.Stylesheets` will result in

[code]

due to these lines:

[

[2017-01-26 15:18] alpox opened #220 "User-Select not supported"
There seems to be no css declarator for user-select. I'm not sure if this is intended or was overseen because of the amount of css attributes out there :smile:.
Its still experimental though: https://developer.mozilla.org/en-US/docs/Web/CSS/user-select

[2017-01-26 17:12] rtfeldman commented on #220
Thanks! Not an oversight, just not including experimental properties. 😄

You can always use e.g. `Css.property "user-select" "contain"` in the meantime!

http://package.elm-lang.org/packages/rtfeldman/elm-css/7.0.0/Css#property

[2017-01-26 17:12] #220 closed

[2017-01-26 19:13] alpox opened #221 "BorderCollapse attributes not exposed"
As the title describes, all BorderCollapse attributes are not exposed from Css.elm:
https://github.com/rtfeldman/elm-css/blob/master/src/Css.elm#L2126
And therefore not accessible. (These are `separate` and `collapse`)

[2017-02-05 22:36] chaughawout commented on #221
I've fixed this locally but having issues with mocha and the test scripts. A pull request will be on its way if I can get that resolved.

[2017-02-05 23:01] eeue56 commented on #221
@chaughawout Just open a PR. Travis will handle running the tests properly.

[2017-02-06 00:25] rtfeldman commented on #221
Fixed by https://github.com/rtfeldman/elm-css/pull/222

[2017-02-06 00:25] #221 closed

[2017-02-06 00:26] #185 closed

[2017-02-06 00:30] rtfeldman commented on #133
These have both been fixed!

[2017-02-06 00:30] #133 closed

[2017-02-06 00:30] #48 closed

[2017-02-06 05:25] #203 closed

[2017-02-07 00:49] chaughawout commented on #76
I'll take a stab at this over the next few days.

[2017-02-07 01:33] #183 closed

[2017-02-07 03:45] chaughawout commented on #76
So here's what I have after a couple hours of tinker arounding:
[code]

This doesn't work because mapper needs an additional argument. I'm relatively new to Elm, but I think this fits the general idea of the mapColor function, but I'm missing something crucial. If anyone can point out what I'm doing wrong here, that would be really helpful.

Also, this issue is really old and I noticed the #167 wa

[2017-02-10 15:33] jwoudenberg opened #226 "Custom operator for selector chaining"
I'm currently setting up an input checkbox with a custom style. Because styling the input directly is not possible, the general wisdom is that you hide the input itself and then style the label for it. To get the label style to depend on the input item, you can use the `:checked` pseudo selector. Using elm-css, a rule for this state-depending style looks something like this.

[code]

Would it be a

[2017-02-10 23:30] rtfeldman commented on #226
How about an alternative to [`each`](http://package.elm-lang.org/packages/rtfeldman/elm-css/8.1.0/Css#each) called `combine`, which has the same type signature but nests the selectors instead of joining them with `,` like `each` does?

In other words:

[code]

...is the same as:

[code]

[2017-02-11 11:43] stoeffel commented on #226
Since we just removed `(.)` and `(#)` I feel it would be better to add `nest` instead of a new operator.

[2017-02-11 12:08] jwoudenberg commented on #226
I agree, that looks even better! I'll create a PR.

[2017-02-11 13:24] jwoudenberg commented on #226
I spoke to soon, I don't think `nest` is going to work. The problem is that the selectors in the example have different types:

[code]

If you try to put them together in a list the compiler won't stand for it. This actually makes a lot of sense: not all combinations of (pseudo)selectors are legal.

Another smaller problem is that the behaviour of calling `nest` with an empty list is undefined.

T

[2017-02-11 20:23] rtfeldman commented on #226
Ah, yep! Good point.

I tried doing something like what `decode-pipeline` does, but it doesn't look great:

[code]

Something else to consider: because you have to invoke the last function in the chain, `elm-format` will format the `<>` code like this:

[code]

Assuming infix operator is the way to go here, I'm not sure if `<>` is best. Feels like something that starts with `|` would be better, bu

[2017-02-12 09:08] jwoudenberg commented on #226
Yeah, I think a chain would be a nice alternative if you didn't have to explicitly start and end it, but we need the low specificity at the end to make it work.

The choice for `<>` was pretty random on my part. What about `|::`, which evokes the cons operator and the css pseudo element separator, both of which sort of apply here?

[2017-02-12 09:23] jwoudenberg commented on #226
Another possibility using an ordinary functions. Also doesn't look great:

[code]

[2017-02-12 10:41] stoeffel commented on #226
I might miss something, but that also wouldn't work with `|::` or an other operator, right? we would need different operators for the different types.

[2017-02-12 11:42] jwoudenberg commented on #226
Nope, the single operator definitely works (I tested it against the example in this thread). The reason it does is because of it's generic type signature: `(|::) : (List a -> b) -> a -> b`. So whether `a` or `b` in the above is a `Mixin` or a `Snippet`, it works as long as the selectors on both sides compose. For instance: `label` returns a `Snippet` and `adjacentSiblings` takes a `List Snippet`,

[2017-02-12 11:59] stoeffel commented on #226
duh. you're right. I would prefer `|::` over `<>`.

[2017-02-18 02:00] boxofrox commented on #198
If overhauling the API is ever on the table, consider putting the functions in one module (e.g. Css.Property) and the records in another (e.g. Css.Value), then you can have the `flex` function and the `flex` record.

[code]

[2017-02-22 05:37] dustinfarris commented on #198
Also `inlineFlex`

[2017-02-26 16:47] jwoudenberg commented on #226
We concluded that because in general it's best to write selectors as non-specific as general, valid use cases of this selector are pretty rare. Closing this issue.

[2017-02-26 16:47] #226 closed

[2017-03-01 19:09] brookeangel opened #233 ""none" should be backgroundImage compatible"
`backgroundImage none` should be a valid mixin. Currently to set a background-image to none, you have to do: `backgroundImage (url "")`

[2017-03-01 20:35] bparadie opened #234 "Please add missing transition keywords"
In https://github.com/rtfeldman/elm-css/issues/11 it sounds like somebody needs to express interest in having animation keywords added to `elm-css`. Here we go...

For my project I need:
- [ ] transition
- [ ] transition-delay
- [ ] transition-duration
- [ ] transition-property
- [ ] transition-timing-function

@see https://github.com/rtfeldman/elm-css/issues/11

[2017-03-03 06:30] robrtle commented on #234
Here is a stop-gap that I created. Its not likely to be integrated.. But might be useful for you

https://github.com/robrtle/elm-css/blob/transition/src/Css/Transitions.elm

It only has transition but can do everything you might want.

[code]

It would work as a separate package if I packaged it.

[2017-03-04 23:18] rtfeldman commented on #233
Fixed by https://github.com/rtfeldman/elm-css/pull/236 - will be out in next major release!

[2017-03-04 23:18] #233 closed

[2017-03-08 20:17] justgage opened #240 "`kabob-case` rather than `PascalCase` class names?"
I like using option types for class names however I find it a bit out of the norm for css names when they are generated (most css is `kabob-case`) is there a way to configure that for using in non-elm projects?

[2017-03-11 00:13] radix opened #241 "Is there a way to use named colors?"
I have a string, like "blue", and I want to set my background-color to that value. I can't figure out a way to do that.

[2017-03-11 02:33] dustinfarris commented on #241
@radix you can use [`property`](http://package.elm-lang.org/packages/rtfeldman/elm-css/8.1.0/Css#property) when elm-css doesn't support what you're trying to do.  In this case, backgroundColor wants a type checked value, not a string, but you could instead:

[code]

[2017-03-11 02:35] radix commented on #241
cool, thanks @dustinfarris :)

[2017-03-11 02:35] #241 closed

[2017-03-11 07:07] rtfeldman commented on #240
I'd rather leave the default as-is (principle of least astonishment and all that) - but you could add a stylesheet transformation to implement this, similar to [how `namespace` works](https://github.com/rtfeldman/elm-css/blob/master/src/Css/Namespace.elm#L15-L17).

[2017-03-12 10:27] ahstro commented on #181
I don't think that it's supported right now, but I don't see why you couldn't write a [webpack loader](https://webpack.js.org/concepts/loaders/) that lets you import classes similar to how you'd import CSS modules. Might be worth checking out [elm-css-webpack-loader](https://github.com/tcoopman/elm-css-webpack-loader) for some inspiration/potential code reuse?

[2017-03-16 18:42] listrophy opened #244 "Missing "none" for "text-transform""
`none` is a supported value per the [spec](https://developer.mozilla.org/en-US/docs/Web/CSS/text-transform), but is not supported by elm-css.

## Expected Usage

    div [ textTransform none ]

[2017-03-16 18:44] #240 closed

[2017-03-17 15:28] justgage commented on #240
Sounds good, if it becomes a problem I'll consider it.

[2017-03-26 12:18] mordrax opened #247 "pointer-events"
I'd like "pointer-events" to be supported. I'm happy to [attempt a PR for this](https://github.com/rtfeldman/elm-css/issues/14), but since I've only started using elm-css moments ago, it would be good to be pointed to some similar style implementations so I can see how this works.

[2017-03-27 00:11] rtfeldman opened #248 "Validation error for classname collisions?"
Before emitting stylesheets, the `elm-css` binary could detect when you've made two class declarations that share a classname, and raise a validation error.

So this would become an error:

[code]

It seems like if you ever have this situation, it would have been clearer to combine the styles into one declaration—for example, using a mixin. It seems like if you ever did this, it would have been un

[2017-04-17 02:48] rtfeldman commented on #247
Thanks for the issue!

Unfortunately `pointer-events` is [still in the Recommendation stage](https://www.w3.org/TR/pointerevents/) and has been since 2015. Firefox and Safari do not support it at all.

I have to draw the line somewhere for what is in-scope to be covered, and this proposal is still too preliminary for me to justify including it. 😅

[2017-04-17 02:50] rtfeldman commented on #244
Anyone want to take a stab at this? It's a pretty easy first contribution; the change should look very similar to https://github.com/rtfeldman/elm-css/pull/236

[2017-04-17 09:57] BobWhitelock commented on #244
I can take a look at this, I should be able to later today.

[2017-04-20 17:17] k15a commented on #198
How about having `flex` for `flex none` and `flex_` for `display flex_` the same way `Html.Attributes` has `type_` and `main_`. This could change in all places where a keyword is overloaded. To keep it consistent we could have the keyword without the suffix as property name and the keyword with the suffix as value.

[2017-04-21 01:00] Tokap commented on #247
@rtfeldman

Hi Richard, thanks for taking the time to review this issue. I definitely understand the need to draw a line on css properties not supported by the average browser. However, [Can I Use](https://caniuse.com) seems to suggest that the JS `window.pointerEvent` remains a suggestion, while the CSS `pointer-events` property is currently supported by all major browsers.

#### Javascript `wind

[2017-04-21 01:14] mordrax commented on #247
I wasn't aware that there was `window.pointerEvent`. My reference was to the css `pointer-events` property, e.g setting `pointer-events: none` so that a mouse click is not triggered on the parent div.

[2017-04-21 01:47] rtfeldman commented on #247
You're right, @Tokap - thanks so much for pointing this out!

[2017-04-21 01:48] rtfeldman commented on #247
@mordrax if you'd like to take a stab at a PR, I'd be happy to review it!

[2017-04-21 02:30] mordrax commented on #247
O_O! onnit!

So it looks like I should add a new function in `Css.elm` much like min-height (https://github.com/rtfeldman/elm-css/blob/master/src/Css.elm#L4593-L4600)

Then add some tests like these (https://github.com/rtfeldman/elm-css/blob/master/tests/Properties.elm#L77-L86)

And finally add it to the exports and property docs (https://github.com/rtfeldman/elm-css/blob/355ca480274321ac607a10696

[2017-04-21 05:10] rtfeldman commented on #247
Yep!

The tricky part will be the overloaded ones, e.g. `all`. We're using a funky type system trick to make those work; happy to explain if you'd like!

Anyway, if you search for stuff like `all :` and `visible :` for each of the "keyword values" [here](https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events) you'll find which ones are already defined.

Sometimes you won't need to change

[2017-04-23 11:29] k15a opened #257 "Logo"
Hey,

I thought that elm-css needs a logo so I created a sketch. Hopefully you like it^^

![elm-css](https://cloud.githubusercontent.com/assets/20357450/25313128/b7482290-2828-11e7-8ec7-741cdaaf06c9.png)

[2017-04-23 17:10] rtfeldman commented on #257
😻 😻 😻 😻 😻

Do you want to make a PR to add it to the top of the README?

[2017-04-23 17:41] rtfeldman commented on #257
Added in https://github.com/rtfeldman/elm-css/pull/258

[2017-04-23 17:41] #257 closed

[2017-04-24 14:02] #244 closed

[2017-04-24 16:42] #218 closed

[2017-04-25 21:06] BobWhitelock commented on #234
I was considering having a go at implementing this, however I notice that the `transition` keywords have 'Working Draft' status; for example see https://developer.mozilla.org/en-US/docs/Web/CSS/transition.

@rtfeldman is this sufficiently stable to add to elm-css? Not sure what the cutoff is for how stable things should be to be added.

[2017-05-02 19:47] wohanley commented on #248
I think it's a good idea sometimes. Consider something like (apologies if there's a CSS pseudocode convention I'm ignorant of):
[code]
It's nice to be able to combine all the changes related to one condition in one place.

[2017-05-02 23:49] Lattyware opened #261 "Highlight `withClass` in the docs."
It took me a really long time to find `withClass` - I was expecting to look for an and combinator (I understand why it wouldn't be done that way, in hindsight, to avoid errors like trying to combine two id selectors, but that was what I looked for), and there aren't any examples for this relatively common thing, so I simply assumed it was missing.

[2017-05-03 19:33] ialexryan opened #262 "[Quick fix!] Typo in repository description"
The current repo description reads "...where you can share code **between between** your stylesheets and..." (emphasis mine).

[2017-05-04 04:18] Thimey opened #263 "Cursor styles - grab and grabbing not showing"
Hi,

Cannot get the grab or grabbing cursor styles to show. Using pointer and others works fine, but when using `styles [ cursor grab ]`, the inline style is not added when viewing html.

Cheers

[2017-05-04 13:10] Thimey commented on #263
I think this is actually just an issue with Chrome, have to use`"-webkit-grab"`.

Apologies

[2017-05-04 13:10] #263 closed

[2017-05-04 18:25] dustinfarris commented on #262
If you click the edit button [on the README](https://github.com/rtfeldman/elm-css/blob/master/README.md) you can actually make this change yourself so the owner just has to accept your pull request.

![screenshot 2017-05-04 14 24 11](https://cloud.githubusercontent.com/assets/1087165/25718805/7155310a-30d5-11e7-8c79-6805ac039697.png)

[2017-05-05 03:13] zazaian commented on #111
I see that this is still open: does clearfix still need to be implemented here? Are there any prevailing thoughts as to why this shouldn't be implemented? There's an article [here](http://www.cssmojo.com/clearfix_block-formatting-context_and_hasLayout/) that suggests `display:inline-block` in conjunction with `overflow:hidden`, but I much prefer using clearfix for more complex floats and behaviors

[2017-05-05 04:13] duncanmalashock opened #264 "Can't create an !important rule in inline style"
[code]
I expected this would produce:
[code]

But it produces this in the view of my Elm app (Chrome 57.0.2987.133):
[code]

Changing `bg` to
[code]
produces:
[code]

The use case is that I'm trying to build a JS-based embed with inline styles that can't be overridden by styles on the page that embeds it. `!important` rules on an inline style attribute are highest-priority, so this feature would b

[2017-05-05 06:33] rtfeldman commented on #111
I'm leaning toward @Dremora's point of view on this. I think it might make more sense as a separate package.

It's not lost on me that the idea of "minimizing API surface area" on this particular library is sort of comically unattainable, but I like the idea of keeping its scope as close to "the widely supported parts of the CSS spec, and that's it" as possible. In retrospect, `clearfix` probably

[2017-05-05 06:33] #111 closed

[2017-05-05 16:59] zazaian commented on #111
Hey there @rtfeldman - so I support the idea that the `clearfix` itself is sort of hacky, and as basically just a hacky CSS selector it really doesn't belong in a library whose purpose is to model the CSS spec effectively.

That said, I would strongly consider adding the `clear` keyword and its several options as a property. It would be difficult to find any modern codebase that doesn't use `clear

[2017-05-05 17:02] zazaian commented on #111
Also I'm not sure that it would be appropriate to release a library so small that it includes only `clearfix`, as it's pretty insignificant to implement in CSS, but I could imagine this being a part of a larger `css-hacks` library, the purpose of which would be to include a number of cross-browser-compatible hacks that would take care of some of these edge cases where the css gets kind of nasty, b

[2017-05-05 18:55] Lattyware opened #265 "No way to have multiple box shadows."
[`box-shadow`](https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow) in CSS allows a comma separated list of box shadows. Unless I'm missing something, it's currently not possible to do this in elm-css.

The obvious solution would be the `boxShadowX` variants taking lists rather than a single set of arguments.

[2017-05-07 14:03] arowM opened #266 "Add a way to set additional conditions on selectors"
The sample CSS bellow is not a rare case, I guess.

[code]

Would it be a good idea to provide `with : List Snippet -> Mixin`?
If we have it, we can express above sample in elegant `elm-css` code.

[code]

Or am I missing some simpler solution?

[2017-05-07 14:43] Lattyware commented on #266
The thing that jumps out is that this would create a situation where you can do:

id "foo"
  [ with
    [ id "bar"
      []
    ]
  ]

Which compiles down to `#foo#bar {}` which doesn't make any sense given an item can only have one ID. That said, as far as I can tell it would just be a rule that can never match, not actually invalid css, as id selectors are directly equivalent to `[id=foo]` attri

[2017-05-07 22:43] ialexryan commented on #262
The error is in the **_repository description_** like I said, not the readme.

![image](https://cloud.githubusercontent.com/assets/2292782/25785691/dd0b89a4-333b-11e7-959e-296ce5fb14a6.png)

@rtfeldman super quick fix?

[2017-05-08 00:09] rtfeldman commented on #262
Super quickly fixed! Thanks for the clarification @ialexryan 😄

[2017-05-08 00:09] #262 closed

[2017-05-09 05:07] ialexryan commented on #262
My pleasure! Thanks for indulging my OCD and making (and sharing) this awesome library.

[2017-05-22 18:52] Enkidatron opened #269 "Support CSS Grid Layout"
I would like to start a discussion around supporting the CSS Grid features. CSS Grid is usable on over 50% of devices. Grid is also a powerful enough feature that it is the future of CSS. However, it is rather complicated, from an API perspective.
Here are the properties that would need to be supported:
* display: grid
* grid-template-columns
* grid-template-rows
*  grid-template-areas
*  grid-tem

[2017-05-22 21:18] Enkidatron commented on #269
Over the weekend, I started looking at `grid-template-columns`, and identified a number of types that I think would be useful, along with a few options for function type signatures.

Pulling types out of the formal spec, it looked to me that all or some of the following were useful types to keep track of (the names are copied from the formal spec, so it should be possible to follow along):
* Track

[2017-05-28 16:20] kuon commented on #76
Any update on this? Color manipulation is the thing missing from elm-css to use it over sass.

[2017-05-28 19:14] rtfeldman commented on #76
I started work on something similar on a branch...no ETA yet though. 🙂

[2017-05-28 19:54] kuon commented on #76
If I can help in anyway, tell me.

[2017-05-28 19:55] kuon commented on #76
Btw, if anybody wants to chime into https://github.com/mdgriffith/elm-color-mixing/issues/3 for the preferred syntax.

[2017-06-08 14:01] akoppela opened #271 "Add support for missing elements."
There are some elements missing. e.g. `q`, `aside`, `time`, `menu`, etc...
It will be good to expose `typeSelector` from `Css.Elements` module. So it will be more easy at the moment to have missing elements. In the similar way it's possible to have missing properties by using `property`.

[2017-06-08 21:14] kuon opened #275 "Current support for keyframes"
As I understand, elm-css do not provide native support for `keyframes`.

But is it possible to generate `keyframes` css with something like `property`?

[2017-06-10 08:49] mordrax commented on #247
@rtfeldman i'm not sure if I understand your intention correctly.

It seems that `all` and `fill` are two properties that takes in values and gives back `Style`
https://github.com/rtfeldman/elm-css/blob/master/src/Css.elm#L1512
https://github.com/rtfeldman/elm-css/blob/master/src/Css.elm#L6730

But what I want are those functions to be used as values. So it looks to me like it fits the `displayFle

[2017-06-10 08:55] mordrax commented on #247
Specifically, this part confuses me, `all` is a property, `visible` is a value.
If you had said, visible will have to be changed to be more like [none](https://github.com/rtfeldman/elm-css/blob/master/src/Css.elm#L4264), I think that's something I can work with.

[2017-06-11 11:31] mordrax commented on #247
@rtfeldman So let me try and explain where I'm at: https://github.com/rtfeldman/elm-css/pull/276/files

I've got a [signature for pointerEvents](https://github.com/rtfeldman/elm-css/pull/276/files#diff-854293bbb03f363ae4c16745b0af2a75R7222) that tries to be inclusive of the `all` property.

In doing so, the simpler types like [painted](https://github.com/rtfeldman/elm-css/pull/276/files#diff-85429

[2017-06-12 20:01] #181 closed

[2017-06-15 20:27] avh4 commented on #109
This appears to be fixed:  the error message in 0.6.0 is:

[code]

[2017-06-15 20:30] avh4 opened #278 "--module doesn't work if there are dots in the module name"
If my stylesheet module is `port module NriStyles`, then this works:  `elm-css src/Nri/Styles.elm --module NriStyles`

But if I change to `port module Nri.Styles`, then I get this error:

[code]

[2017-06-15 20:36] eeue56 commented on #278
Initially looks like it _should_ work: https://github.com/rtfeldman/elm-css/blob/master/index.js#L181

[2017-06-20 14:37] OzTK opened #280 "Wrong indentation with media queries output"
The output code is not well-indented in the result css.
Example:
This
[code]
Outputs this
[code]

I'd like to try and get my hands in this. Any advise appreciated :)

[2017-06-25 08:55] globaljake commented on #204
created a simple PR that helps solve this that just exposes a mediaString helper PR #281

[2017-06-27 13:51] tolgap commented on #271
We now have a way of defining missing selectors in our own applications, using `typeSelector` 🎉 . Can we close this issue?

[2017-06-27 15:46] #271 closed

[2017-06-27 15:46] akoppela commented on #271
Thank you very much!

[2017-06-28 17:26] AntouanK opened #283 "README logo is not scaled in the elm packages page"
Just noticed that the logo from the `README.md` file is not scaled properly in the elm packages page.

<img width="1188" alt="screen shot 2017-06-28 at 07 16 36" src="https://user-images.githubusercontent.com/4569111/27651153-908ddd96-5c37-11e7-816e-6e9c0dc7b9b0.png">

[2017-07-01 15:47] BobWhitelock commented on #283
I investigated this a little bit, and came to the conclusion this is more an issue with package.elm-lang.org than elm-css itself. While it may be possible to work around it by linking a low resolution version of the logo, I think it would be better to fix this at the root cause. See https://github.com/elm-lang/package.elm-lang.org/issues/238 for more details.

[2017-07-01 17:00] BobWhitelock commented on #264
I investigated this, and the correct list of CSS keys to values does seem to be produced when `!important` is used with `asPairs` (see https://github.com/rtfeldman/elm-css/pull/284).

In an actual app though I can reproduce this: https://ellie-app.com/3D4YPznPsNBa1/1. However, the same issue occurs if elm-css is not used at all, for example: https://ellie-app.com/3D5jYcFc6f9a1/2.

It looks like th

[2017-07-01 19:14] happypoulp opened #285 "Unsupported "whiteSpace normal""
Hi,

It looks like `whiteSpace normal` is not supported.

When using it, the compiler is giving me this error:

[code]

### Reproduced on environment:
- elm-version: "0.18.0 <= v < 0.19.0"
- rtfeldman/elm-css: "8.2.0 <= v < 9.0.0"

Thanks.

[2017-07-01 20:25] BobWhitelock commented on #285
Looks like we don't support most (all?) of the other properties in [the spec](https://developer.mozilla.org/en-US/docs/Web/CSS/white-space) too, I'll take a look at it :slightly_smiling_face:

[2017-07-02 14:24] BobWhitelock commented on #278
I created a fresh project with a stylesheets module in `src/Nri/Styles.elm` called `Nri.Styles`, and I can confirm that the CSS was generated correctly when I ran `elm-css src/Nri/Styles.elm --module=Nri.Styles`.

Are you using the latest `elm-css`? Looks like support for this was added not that long ago: https://github.com/rtfeldman/elm-css/pull/225.

[2017-07-02 16:02] BobWhitelock commented on #265
It does look like this is not currently possible.

One issue with the suggested solution though is that this would only allow producing multiple box shadows where the different values passed in the list to a `boxShadowX` variant are all of the same type as that `boxShadowX` variant currently takes; i.e. this would allow producing a `box-shadow` value of `3px 3px, 4px 4px`, but not of `3px 3px, 4px

[2017-07-03 17:01] akoppela commented on #283
PR for that https://github.com/elm-lang/package.elm-lang.org/pull/242

[2017-07-03 18:28] BobWhitelock commented on #283
@akoppela: nice!

[2017-07-07 03:10] SelectricSimian opened #289 "Some types mentioned in public type signatures are not exposed"
The following types appear in public type signatures in the `Css` module but are not themselves publicly exposed, making it impossible for other code to use them in explicit type annotations:

- `AlignItems`
- `All`
- `Angle`
- `AngleOrDirection`
- `BackgroundAttachment`
- `BackgroundBlendMode`
- `BackgroundClip`
- `BackgroundImage`
- `BackgroundOrigin`
- `BackgroundRepeat`
- `BackgroundRepeatShor

[2017-07-09 14:06] bobwhitelock commented on #289
This change sounds reasonable to me, unless there's some reason I'm missing why we don't want to do this.

If we do want to expose these then I've added a PR to do this; note that the `LengthOrAutoOrNoneOrContent` type mentioned doesn't appear to exist, and `LengthOrNone` seems to meet the criteria to be exposed too. There may be other types which should also be exposed, but I've not looked for th

[2017-07-09 17:54] SelectricSimian commented on #289
You're right about `LengthOrAutoOrNoneOrContent` -- the actual type is `LengthOrNumberOrAutoOrNoneOrContent`. `LengthOrNone` is also a good catch. Thanks!

[2017-07-10 04:12] #289 closed

[2017-07-10 04:12] #285 closed

[2017-07-10 07:24] happypoulp commented on #285
Thanks!

[2017-07-19 00:25] brookeangel opened #292 "Adding in ` \x2028t` results in a compiler error!"
Adding ` \x2028t` in a string somewhere in elm code causes elm-css to generate this error:

[code]

(Context:
`Html.text "Unit diagnostics pre-test student knowledge at the start of a unit. You can later compare results \x2028to those of a growth quiz! "`
)

[2017-07-19 01:59] rtfeldman commented on #292
I think this is probably an `elm-make` issue if anything...can you
reproduce in a basic Ellie?

On Tue, Jul 18, 2017, 8:25 PM Brooke <notifications@github.com> wrote:

[2017-07-19 11:39] eeue56 commented on #292
See this: https://github.com/elm-lang/elm-compiler/issues/1279#issuecomment-267800315. Not an elm-css issue

[2017-07-19 15:30] QuinnFreedman commented on #15
does border-spacing exist? I don't see it anywhere

[2017-07-25 21:38] Stijnkool opened #293 "textJustify compiles to "text-justify" instead of "justify""
Source code:
[code]

Why is the property called `textJustify` and not just `justify`?
And the value that it compiles into, `text-justify` doesn't seem to be valid css.

Can the original piece of code become:
[code]

[2017-07-26 21:16] bobwhitelock commented on #293
I think you're right, it looks like it may have been mixed up with the [text-justify](https://developer.mozilla.org/en-US/docs/Web/CSS/text-justify) property (which we don't currently support). I'll correct it.

[2017-07-28 02:40] OzTK commented on #280
Awesome thanks for the fix!

[2017-08-03 13:18] Stijnkool opened #295 "Each does not keep pseudoclasses"
The following code:
[code]
compiles into:
[code]
while I think it should compile into:
[code]
Or am I missing something?

elm-css version: `"9.1.0 <= v < 10.0.0"`

[2017-08-04 00:37] therealnicksaunders opened #296 "Expose a function composing asPairs and Html.Attribute.style"
This is how we create a function _styles_ to add inline styles to an element per the docs:

[code]
It seems to me that it would be good to have this out of the box. Is it already there, and I just overlooked it in the docs?

[2017-08-04 07:47] tolgap commented on #296
This would require us to pull in `elm-lang/html` as a dependency, which it isn't right now.

You could add that function to your stylesheet once and import wherever necessary. Otherwise it's a pretty big price to pay for such a small function 🙂.

[2017-08-04 15:28] therealnicksaunders commented on #296
@tolgap I really appreciate your answer, and of course avoiding a new dependency is a reasonable argument. However, ```elm package install``` already pulls in ```elm-lang/html``` along with ```elm-lang/core```, so I'm not sure I can imagine a scenario where the client doesn't already have this dependency. Furthermore, the "inline styles" use case (the _first_ approach described in the readme) abso

[2017-08-06 16:04] tolgap commented on #296
@therealnicksaunders The helpers to use `elm-css` in conjunction with `elm-lang/html` lives in [elm-css-helpers](https://github.com/rtfeldman/elm-css-helpers). So yeah, something for this already exists 😄 . So a function like this could exists there.

[2017-08-09 04:34] qwfy opened #298 "Namespace are not applied to ids (classes are fine)"
Step to reproduce: Create two files with contents taken from README.md (pasted below), and call `elm-css --output=. Stylesheets.elm` would produce an index.css whose content is:

[code]
expect: (as stated in README.md)
[code]
Versions:
[code]

The two source files are: (copied from README.md)
[code]

[2017-08-09 07:37] meherranjan opened #299 "Recommendation for using bootstrap"
Hi @rtfeldman, great work with the elm-css and I am using this extensively on my current project. Currently I am using bootstrap but because those properties aren't passed through elm-css, the safety switch is under utilised. According to you what is the recommended strategy for using bootstrap alongside elm-css?

[2017-08-09 21:23] #293 closed

[2017-08-10 05:36] bruce commented on #298
I've also encountered this issue with the same versions of `elm` and `elm-css`.

[2017-08-11 16:14] anagrius commented on #234
@bobwhitelock I have been using it for several years now, and I would say it is very widely used. I vote to implement it asap.

[2017-08-11 16:45] rtfeldman commented on #234
Looks widely supported: http://caniuse.com/#feat=page-transition-events - seems fine to add to me, if anyone wants to make a PR!

[2017-08-17 00:17] rtfeldman opened #302 "Deprecate `asPairs`"
Currently `elm-css` can be used in one of three ways:

1. Compile to a `.css` file
2. Compile to a string and use a `<style>` element
3. Compile to key/value pairs with [`asPairs`](http://package.elm-lang.org/packages/rtfeldman/elm-css/9.1.0/Css#asPairs) and create a [`style`](http://package.elm-lang.org/packages/elm-lang/html/2.0.0/Html-Attributes#style) attribute

I think supporting the third on

[2017-08-17 00:19] rtfeldman commented on #296
I'm actually planning to deprecate `asPairs` https://github.com/rtfeldman/elm-css/issues/302

@therealnicksaunders - if you think I shouldn't, would you mind adding your thoughts to that issue in a comment?

[2017-08-17 02:30] rtfeldman opened #303 "CLI Revamp"
I'm planning to revamp the CLI experience! I talked all this over with @evancz and came up with a design I'm very excited about.

## Goals

1. Make it so that classnames can be automatically generated at build time, with no runtime cost. (I talked about the motivation for this in [Long Term Goals](https://github.com/rtfeldman/elm-css/wiki/Long-Term-Goals)). Basically what [CSS Modules](https://git

[2017-08-17 08:43] ibizaman commented on #303
There's no mention of handling `#id` tags in the same way that `.class`. Is there a particular reason?

[2017-08-17 16:17] therealnicksaunders commented on #302
First off, @rtfeldman, thanks for your great work on this library, and I appreciate that you are putting this issue up for community input.

One thing I don't want to lose is the ability to maintain my styles alongside the corresponding view code because I would typically be tweaking these at the same time. To me, that's the big downside of having an external stylesheet.

Some component-oriented f

[2017-08-17 16:28] therealnicksaunders commented on #302
By the way, after thinking about it for five more minutes, the function above wouldn't even have to return an attribute--it could just return a generated class name in order to avoid that elm-lang/html dependency.

[2017-08-17 16:45] dustinfarris commented on #303
I am currently using [dustinfarris/broccoli-elm-css](https://github.com/dustinfarris/broccoli-elm-css) to automate compiling css files and (in conjunction with [broccoli-elm-make](https://github.com/dustinfarris/broccoli-elm-make)) have the output hot-reloaded in the browser as i develop.

I rely on the exported function in index.js to do this.  It would be nice if some kind of non-cli API is pres

[2017-08-17 17:04] rtfeldman commented on #303
@ibizaman I'm not really aware of demand for auto-generated IDs, and I'd rather default to keeping the API smaller unless I have a compelling reason to expand it. 😄

@dustinfarris I can have the `npm` package expose that in JS for JS plugin authors; would that work?

[2017-08-17 17:06] dustinfarris commented on #303
@rtfeldman yes that would be great 👍

[2017-08-17 20:10] rtfeldman commented on #302
@therealnicksaunders take a look at https://github.com/elm-lang/virtual-dom/issues/112 - I'm generally in agreement that this is the right way to do things instead of `asPairs`, and that's basically where I'm aiming to end up. 😄

[2017-08-18 04:02] sporto commented on #302
I have used `asPairs` several times when I don't want to take the time to wire all the things needed for proper style tags. I think `asPairs` is quite handy in some cases as is easy to use. I think it should stay until using <style> is almost painless. Which I don't think it is now (I need to collect styles, create a style node, etc)

[2017-08-18 04:16] sporto commented on #303
Interesting. One thing that I'm not fond about is the `css` directory. Having to maintain a parallel tree of application there is not very appealing. Could you have `Editor.elm` and `EditorCss.elm` in the same src dir?

[2017-08-18 06:33] stoeffel commented on #303
How would this work with elm-html-test? We often use the namespaced class for testing.

i.e.
[code]

[2017-08-18 16:07] rtfeldman commented on #303
@stoeffel Use [`attribute`](http://package.elm-lang.org/packages/eeue56/elm-html-test/5.1.0/Test-Html-Selector#attribute) instead of `class`:

[code]

It's actually more robust because there's no chance of the strings getting out of sync! 😄

[2017-08-18 19:03] rtfeldman commented on #303
@sporto I think that would get confusing. The stylesheets will be relying on a different `elm-package.json` (which is important, in order to avoid `elm-css` assets accidentally getting bundled into production when you're trying to minimize asset size by compiling to a separate `.css` file) so you'd end up with some modules in `src` relying on one `elm-package.json` and some relying on a completely

[2017-08-22 16:17] eeue56 commented on #303
I have a use case where I want to pass in a flag to say what colors and theme should be generated by elm-css. It would be nice to have support for that.

[2017-08-24 15:59] bobwhitelock opened #306 "Revert commit with breaking change prior to releasing 11.0.0"
Congrats on releasing 10.0.0 @rtfeldman! I noticed https://github.com/rtfeldman/elm-css/commit/ebd4ccdd6c75298b53ec10364fc1c1bb7670cce8 didn't get un-reverted prior to the release, so thought I'd open this to remind us to do so before the next major release. Hope this is helpful, and apologies if this was intentional :slightly_smiling_face:.

[2017-08-27 19:08] mattjbray opened #307 "Media query API"
The type-safe media queries are a cool idea :)

However I think the generated CSS is incorrect.

For reference, here's the BNF (from [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#Pseudo-BNF), also a less readable version in the [CSS3 spec](https://drafts.csswg.org/mediaqueries-3/#syntax)):

[code]

(I'm not an expert on media queries -- I've only read the

[2017-08-27 20:30] rtfeldman commented on #307
Nice finds @mattjbray! I really appreciate your taking the time to dig into this and write this up.

I think your proposed API is great overall. It makes a ton of sense to me!

What do you think of this variation?

[code]

The idea would be that instead of having `only2`and `not2`, you take a `List Expression` and join the expressions together with `and`. If you provide an empty list, then you get

[2017-08-27 20:31] rtfeldman commented on #307
Another thought - looking at this, I realize that `Css.Media.MediaQuery` should probably be `Css.Media.Query` - so the type would be `Query` instead of `MediaQuery`. Seem reasonable?

[2017-08-27 20:49] mattjbray commented on #307
Thanks!

Absolutely. I actually started with this idea but thought you might want to stick closer to CSS syntax with `Media.and`. I prefer your suggestion, it's much simpler.

I prefer this as it's the terminology used by the spec.

So I'm in agreement with your proposal in https://github.com/rtfeldman/elm-css/issues/307#issuecomment-325222806 (plus the change to `media` to accept a `List MediaQue

[2017-08-27 20:50] rtfeldman commented on #307
@mattjbray Awesome! Want to take a crack at a PR?

[2017-08-27 20:51] mattjbray commented on #307
@rtfeldman Sure thing. I have a long train journey tomorrow and this will fill the time nicely :)

[2017-08-28 17:56] rtfeldman commented on #306
Bah, totally forgot - sorry!

Reverted in d034390e1205c95ead5ddf3947575e4e43eb917f on `master`

[2017-08-28 17:56] #306 closed

[2017-08-28 17:56] rtfeldman commented on #307
Fixed by #308

[2017-08-28 17:56] #307 closed

[2017-08-28 23:47] rtfeldman commented on #283
Manually fixed - thanks!

[2017-08-28 23:47] #283 closed

[2017-08-28 23:49] #296 closed

[2017-08-28 23:49] #292 closed

[2017-08-30 00:46] rtfeldman commented on #306
@bobwhitelock fixed in 11.0.0.

[2017-09-01 23:48] egauderman commented on #303
@rtfeldman Under the new system, are `Attribute msg` values literally the only thing that the app can import from the CSS directory?  Will it be impossible to import other values?  For instance, when animating some length from one value to another using app code (like using the "elm-style-animation" library), it would be useful to have access to values that are present in CSS.

[2017-09-02 20:33] edkv opened #311 "withMedia does not support nested declarations"
This code
[code]
Generates the following CSS
[code]

The `media` function works as expected:
[code]
[code]

[2017-09-02 22:26] rtfeldman opened #312 "Move selectors into a separate package?"
I'm moving in a direction where I want to make reliably avoiding [global CSS namespace collisions](https://medium.com/seek-blog/the-end-of-global-css-90d2a4a06284) a central part of `elm-css`.

In that world, it will make sense to make a blanket recommendation not to directly use top-level selectors (`#foo { ... }`, `ul > li { ... }`, etc) anymore. Obviously there may be legacy code (or perhaps ha

[2017-09-02 23:01] anagrius commented on #303
@sporto @rtfeldman Not a big fan of the separate folder for css either. While I understand the technical benefits of having a separate project for css, I think it would be a step backwards. Just having to look one place is a big deal code understandability and maintainability.

At Humio we even take it a step further than having `Foo.elm` and `FooCss.Elm` and include a function `css` in every Page

[2017-09-03 20:32] rtfeldman commented on #303
@egauderman Nope! You can use `source-directories` both on the root project's `elm-package.json` and on `css/`elm-package.json to let them share as much code as you like. 😄

[2017-09-03 20:40] rtfeldman commented on #303
@anagrius I totally hear you.

Since it sounds like you're okay with a runtime dependency (especially with tree shaking), putting your feedback and @sporto's together, it sounds like both of you would prefer to use a system where you could define reusable styles on a per-element basis at runtime, and that having a separate `.css` file is non-essential; rather, what's essential is that you can use

[2017-09-03 21:21] anagrius commented on #303
@rtfeldman hard to say, would love to give it a look-over, to better understand what you are getting at.

[2017-09-03 22:52] rtfeldman commented on #264
Closing in favor of https://github.com/elm-lang/html/issues/99

[2017-09-03 22:52] #264 closed

[2017-09-03 23:07] sporto commented on #303
My feedback was more about the folder structure. I'm hoping that there is a way to avoid the `css` folder and have all the other nice things.

re compiled .css. This will be desirable, but non-essential for us. As long as we can have media queries pseudo elements and hovers we are happy. Injecting styles at run time might not be ideal, but  we are ok with this.

[2017-09-04 01:18] rtfeldman commented on #275
@kuon Yep! http://package.elm-lang.org/packages/rtfeldman/elm-css/11.0.0/Css#selector should do the trick.

(Sorry I took so long responding to this. 😅)

[2017-09-04 01:18] #275 closed

[2017-09-04 01:34] rtfeldman opened #313 "Animations"
I'd like to provide first-class support for animations, including [`@keyframes`](https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes). (Here's [a nice article introducing them](https://www.smashingmagazine.com/2011/05/an-introduction-to-css3-keyframe-animations/).)

`@keyframes` has some peculiar characteristics. Like classes, animation names are at risk of global namespace collisions. Unl

[2017-09-04 06:23] anagrius commented on #303
@sporto ditto :)

[2017-09-04 09:23] kuon commented on #302
I am also using `asPairs` for my styling. I found it was much easier to maintain style within view code. Organizing views is hard enough without having to duplicate everything for styling.

One of the reason `elm-css` is great, is because I can mix my styling with my view code.

Also dynamic styling, for example:

[code]

[2017-09-04 12:41] rtfeldman commented on #303
@sporto @anagrius here's the draft documentation I've been working on - thoughts? https://gist.github.com/rtfeldman/7665f28270352521163f9ec2ee772ec1

[2017-09-04 14:50] rtfeldman commented on #302
@kuon I did a mockup of some documentation for what I'm currently planning - based on your description, you may like this even better. 😄  https://gist.github.com/rtfeldman/7665f28270352521163f9ec2ee772ec1

Thoughts?

[2017-09-04 15:10] kuon commented on #302
@rtfeldman I really like both approach. The new `uniqueClass` helper would solve one part of the problem I have, and the new "inline style" with `Html.Styled` would solve another part (dynamic styles). Do you plan to allow them to be used together? Because in my use case, `uniqueClass` static css would be like 95% of my css, the last 5% being dynamic.

[2017-09-04 15:14] rtfeldman commented on #302
Personally I'd choose one or the other, but I can't think of a reason that wouldn't work!

I'm curious - why not just go 100% dynamic and remove the build step?

[2017-09-04 15:16] kuon commented on #302
Mostly because of PostCSS (I use autoprefixer), and also things like keyframes/mediaQueries/pseudo elements.

[2017-09-04 15:33] rtfeldman commented on #302
Ah gotcha! PostCSS makes sense 👍

Media Queries and pseudo-elements still work exactly the same way in the dynamic version (maybe I should emphasize that in the docs?) and keyframes will too once https://github.com/rtfeldman/elm-css/issues/313 is implemented. 😄

[2017-09-04 18:25] kuon commented on #302
Yeah it's really not clear how to use mediaQueries and pseudo-elements.

But autoprefixer is still absolutely required for many things, things like `user-select` or `transform` still need a prefix in many modern browsers.

[2017-09-07 06:06] jeffutter commented on #275
I'm wondering if there are any examples to do this. So far I have:

[code]

However, that yields:

[code]

I am hoping to get:

[code]

Any suggestions?

[2017-09-08 16:44] rtfeldman commented on #303
@anagrius and @sporto - I'm also considering a possible design where:

* Compiling to `.css` files is The One Way To Do It
* I publish a separate package of helper functions for values that often change at runtime when animating (e.g. `opacity : Float -> Attribute msg` and `top : Length -> Attribute msg`), since this is the only case where doing things at runtime is mandatory.

Things that appeal

[2017-09-08 17:23] mdgriffith commented on #303
Small note on #4, I was looking specifically at color.

So, a css keyframe animation using just translate was super performant.  A css keyframe animation doing translate and modifying background color tanked pretty hard in chrome, and in that case animating background color and translate via manually setting inline styles beat it out handily.

Also, in further digging this behavior didn't show up

[2017-09-08 17:35] anagrius commented on #303
I think that is the way to go. CSS files all the way, IMO. But it doesn't address the issue of folder structure - I guess. I have been thinking about this for a while, It is really the same thing as keeping tests in a different directory. I am just of the mind that: Thinks that fit together, go together.
I am a "Clicking through the File Tree"-kind of guy (to my own dismay). So not having to trave

[2017-09-08 19:23] BrianHicks opened #316 "0.7.0@beta8 swallows errors"
When I make a an invalid Elm module in the `css` folder as described in #303, `elm-css` swallows the error:

[code]

I expected to see a compilation error, which happens if I `cd /Users/brian/code/NoRedInk/NoRedInk/ui/css/css` and run `elm-make /Users/brian/code/NoRedInk/NoRedInk/ui/css/FlexBoxWithVendorPrefix.elm /Users/brian/code/NoRedInk/NoRedInk/ui/css/Page/Admin/DemoMockAccount.elm`.

[2017-09-09 03:11] sporto commented on #303
I quite like Html.Styled. This is something we have been experimenting with (https://github.com/xarvh/elm-styled-html) for while but never got to a mature point. This makes it very easy to get started.

On the other hand having only one way of doing things seems great as all the effort can be put in doing that way really nice.

The classnames using the modules path is great, as it helps to find th

[2017-09-09 03:23] sporto commented on #303
BTW, there was discussion about having `test-dependencies` in elm.json for 0.19. https://gist.github.com/evancz/ae8890eef7cbfab84361e17eec71f3bd#file-app-json

Maybe you can discuss with Evan about the possibility of having arbitrary groups like ruby bundler in a gemfile, where you can have `development`, `test`, `build` or what ever you want. Could something like that remove the need for a differ

[2017-09-10 05:02] frou commented on #269
I don't have the Elm chops to comment on implementation, but agree that CSS Grid is important!

[2017-09-12 15:39] BrianHicks opened #317 "0.7.0@beta8 tries to symlink an already-existing directory"
I'm getting this in CI:

[code]

Looks like 0.7.0@beta8 is trying to symlink `elm-stuff`, but a symlink already exists.

[2017-09-13 19:00] ahstro commented on #317
This seems to have been fixed in b5844f4658bcbd3d893be0d9ec7fa06f0c2df5e8, although it's not yet published to npm.

[2017-09-16 19:52] ahstro opened #318 "elm-interface-to-json can't handle repos with dots in them"
I think? I have not been able to figure out where it comes from, so can't check the source of it either.

[2017-09-16 20:02] ahstro commented on #318
Actually, looks like it's not working at all. Getting this error:

`/home/ahstro/home/dev/ahstro.github.io/elm-stuff/generated-code/rtfeldman/elm-css/elm-stuff/build-artifacts/0.18.0/ahstro/ahstro/3.0.0: /home/ahstro/home/dev/ahstro.github.io/elm-stuff/generated-code/rtfeldman/elm-css/elm-stuff/build-artifacts/0.18.0/ahstro/ahstro/3.0.0: getSymbolicLinkStatus: does not exist (No such file or direc

[2017-09-28 09:36] aleehedl commented on #234
I opened a pull request based on the work done by @robrtle, see #324.

[2017-09-28 21:42] xdumaine commented on #234
@robrtle I tried to bring your stop-gap into my project, but found that CSS.Style did not exist. Is that in a recent version of elm-css? I'm stuck on 8.2.0 for the moment.

[2017-10-04 14:25] BrianHicks opened #325 "0.7.0@beta8 still talks about Tests in build errors"
[code]

@terezka, do you have a reliable way to reproduce this?

[2017-10-05 05:04] SamGerber commented on #325
https://github.com/rtfeldman/elm-css/blob/98da908a0cf352449c8828a4a11b6de84f0c6f01/js/find-exposed-values.js#L210-L221

[2017-10-05 05:04] cachar commented on #325
Seems like it happens when the css module doesn't expose classes used elsewhere (h/t @samgerber)

[2017-10-11 03:06] rtfeldman opened #327 "(Very!) Long-term plans for going CLI-less"
I've been going around asking various people "If `elm-css` had One Way to Do It," what should that one way be?

A major part of the motivation for this question is to figure out how people should share code with `elm-css`.

For example, @abadi199's [datepicker](http://package.elm-lang.org/packages/abadi199/datetimepicker/latest) uses `elm-css`. Today, he could have chosen `asPairs`, compiling to a

[2017-10-11 03:47] sporto commented on #327
To me the benefit of not having to change my build pipeline to use elm-css is very appealing. Also not having the mirror `css` folder as proposed before is a big deal. The `Html.Styled` is very elegant and easy to understand.

So I'm all in favour of this path unless there are big performance issues that are not unknown. I can ask @glenmaddern about his experience in building styled components. Bu

[2017-10-12 04:53] sporto opened #328 "Changelog is out of date"
Changelog cover up to 8. Current version of lib is 11. So I cannot see what has been changed.

Thanks

[2017-10-14 12:15] tolgap commented on #295
This is indeed a bug.

The culprit is `collectSelectors`: https://github.com/rtfeldman/elm-css/blob/d50ef4bc559d021c43ea30e046d460f45a6301f9/src/Css.elm#L8358

As you can see, the child styles are ignored with an `_`. We somehow would need to resolve those styles into `firstSelector`. @rtfeldman Is there an existing way to "merge" styles into a selector?

So something like `Structure.Selector -> L

[2017-10-14 12:29] tolgap commented on #280
@rtfeldman this has been fixed and released. Can we close it? :)

[2017-10-14 16:41] #280 closed

[2017-10-20 09:08] ahstro commented on #327
I **strongly** agree that not introducing a build step is incredibly valuable and I do like the design of `Html.Styled`.

I'm a bit saddened that it wouldn't play nicely with something like [tesk9/accessible-html](https://github.com/tesk9/accessible-html), since both it and `Html.Styled` replace the core `Html` import, but as long as there exists *some* possibility to extract the CSS to a .css-fil

[2017-10-20 12:34] kuon commented on #327
To summarize my requirements/wishes:

- I need to be able to bundle a package (let's call it a component!) to be reused in someone's app, I don't want them to have anything else to do than including my package. This is not only an issue with css, but also images... only way now is base64 or svg. This also means my component should return something easy to integrate, like `Html msg`.
- Autoprefixer

[2017-10-22 04:04] rtfeldman commented on #327
Thanks for your feedback @kuon!

Some thoughts:

I think `elm-css` should have first-class support for keyframe animations and media queries. 👍

The `Html.Styled` approach supports this. 👍

Prefixing can be implemented as a package of helper functions. I don't want to make autoprefixing support an explicit design goal because [browsers have deprecated prefixing](https://developer.mozilla.org/en-US

[2017-10-22 09:06] kuon commented on #327
I understand your points and even if it's not my ideal world, I agree with you. I'd just say that most of my current work targets enterprise customer that will require prefixes for at least 10 years. And today, even if you can target the most bleeding edge browser, you need prefix ( for example http://caniuse.com/#search=user-select )

I have an idea about merging `elm-css` and `style-elements`. W

[2017-10-22 11:12] rtfeldman commented on #327
Both of them share a common underlying type -
 `VirtualDom.Node` - so they can already be used together in the same `view`! 😄

[2017-10-27 05:03] feluxe opened #332 "Conflicting namespaces, when importing multiple stylesheets in the same view."
Hi there!

I started fiddling with *elm-css* and I think it's really cool! But now I'm scaling and I ran into an issue which I couldn't figure to solve nicely.

Let's say I have a structure like this:

[code]

The files above are similar to the ones in the example *(elm-css/examples/src/)*

* `Index.elm` is equivalent to `elm-css/examples/src/Stylesheets.elm`
* `FooCss.elm`, `BarCss.elm` and `Misc

[2017-11-12 23:57] rtfeldman opened #333 "Avoid generating too many rules in a single <style>"
Avoid generating more than 65536 rules in a single `<style>` element.

This is [apparently the maximum allowed by a single `<style>`](https://github.com/threepointone/glamor/issues/1#issuecomment-343765873).

[2017-11-14 19:40] Skinney opened #334 "No hash collision handling"
So, if I read the following right, in the rare occurance that you get a hash collision (two different pieces of text giving the same hash) the behaviour of elm-css would be... wonky? Might be worth adding a counter to every classname, just in case.

https://github.com/rtfeldman/elm-css/blob/1026935356eaecee09c1fd14e4da90df3532f08a/src/Html/Styled/Internal.elm#L59

[2017-11-15 03:42] rtfeldman commented on #334
A counter? Can you clarify what you mean by that? 🤔

[2017-11-16 10:42] Skinney commented on #334
Well. `.hashString` could, in theory, result in the same hash for `{ display: inline-block; }` and `{ display: block; }` (probably not, but two different pieces of text could result in the same hash). Adding a counter to the end of classnames, like `s0m3hash01` and `s0m3hash02` would avoid this in the cases where it is an issue.

Of course, me being me, I forgot this is Elm and so it's not as stra

[2017-11-16 12:06] eeue56 commented on #334
A reasonable alternative to a counter that I've used for problems like this in the past is to add the length of the original string. Not perfect but considerably less likely to collide. You can take it further by doing something like a `product of {count of certain letters in the string}`

[2017-11-16 21:53] rtfeldman commented on #334
The main problem I see with the counter approach is duplication.

Suppose I write this:

[code]

With the counter approach, I'm now getting N redundant class definitions outputted to my `<style>` and I'm probably not realizing it. That would be a nasty perf surprise I think.

The length approach doesn't have that problem, of course.

[2017-11-17 04:18] #316 closed

[2017-11-22 11:29] maxhallinan opened #335 "`linearGradient2` with degree direction value compiles to invalid CSS"
`linearGradient2` takes a `AngleOrDirection` as its first argument. It then [prepends this value](https://github.com/rtfeldman/elm-css/blob/master/src/Css.elm#L4339) with `"to"`. When that value is a degree instead of a direction, the result is invalid CSS.

Example:

[code]

compiles to

[code]

Am I missing something? This library would benefit from an overview of the domain model. Reverse engin

[2017-11-22 15:06] grkuntzmd opened #336 "Cannot use elm-css with elm-mdl"
`elm-mdl` requires that css be provided using the function

    Material.Options.css : String -> String -> Material.Options.Property c m

but there does not seems to be any way to convert elm-css `Html.Styled.Attributes.Attribute msg` to `(String, String)`.

[2017-11-22 16:10] Stijnkool opened #337 "Incorrect CSS cascade when styles compiled to attributes are mixed"
When having a styled element, lets say a button.
[code]
We can use it as it is (the base version):
[code]
But what if we want to extend the styled element with some other styles.
I want to keep the original styles but increase the padding. (the extending version)
[code]
So I am adding 2 padding rules. The last one in the outputted css will be used. But different classes are being generated for eac

[2017-11-24 00:25] sporto commented on #328
Will close as 12 is in there at least

[2017-11-24 00:25] #328 closed

[2017-11-24 10:43] feluxe commented on #327
Sorry for jumping in, but I really felt the need to share this.

I think the real beauty of *CSS Modules* is that it allows you to **decouple styling from your module entirely**. If you ask me that is huge! When you create a module like the *datepicker* you won't know what styling is needed for each of the many websites it will appear on. The best way to solve the problem as a *module developer* w

[2017-11-24 12:20] kuon commented on #327
I think this is another problem, customization in elm should be handled by passing view functions to the component.

On November 24, 2017 11:43:07 AM GMT+01:00, feluxe <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-11-24 14:48] edkv opened #338 "Styling children on hover using Html.Styled"
Consider the following example:
[code]
Now imagine that we also need to change the font color of the first `span` on `hover` over that `div`. I tried to use `Css.Foreign` inside the `css` function and it actually works:
[code]
We'll get something like `._1eea206b:hover > .test`. At first it seems that this selector isn't globally scoped and we only need to make sure that our class is unique among

[2017-11-24 15:04] edkv opened #339 "Svg.Styled"
`Html.Styled` is awesome, but are there any plans for adding `Svg.Styled`? I tried to implement it on top of `Html.Styled`, but this leads to runtime errors since `elm-css` adds classes using the [`className` property](https://github.com/rtfeldman/elm-css/blob/master/src/Html/Styled/Internal.elm#L315) and for Svg [the `class` attribute should be used instead](https://github.com/elm-lang/svg/blob/2

[2017-11-25 02:23] rtfeldman commented on #339
Ah, good point! You can I'm totally open to adding `Svg.Styled` modules.

Want to take a crack at a PR?

[2017-11-25 05:29] rtfeldman commented on #337
Thanks for bringing this up! Quick version of how this currently works:

* It doesn't matter how you order the attributes. You'll get the same output.
* If you use `css` attributes twice on the same element, and they both define the same property, there is no guarantee which definition will "win."

I hadn't realized this in the original design, but it's potentially easy to end up with surprising b

[2017-11-25 05:51] rtfeldman commented on #336
It's not possible to do that conversion; there is more information there than just `( String, String )` key-value pairs! For example, you can get these things in the mix:

* media queries
* pseudo-selectors
* global selectors from `Css.Foreign`

None of these are representable as key-value pairs, so unfortunately this conversion is not even theoretically possible. 😅

Sorry!

[2017-11-25 05:51] #336 closed

[2017-11-25 05:56] rtfeldman commented on #327
Check it out!

[code]

You can totally make a datepicker with customizable styles via `elm-css`. 😄

[2017-11-25 05:57] rtfeldman commented on #318
@ahstro Can you file this on https://github.com/stoeffel/elm-interface-to-json instead? This will affect other projects that use it!

[2017-11-25 05:57] #318 closed

[2017-11-25 05:58] rtfeldman commented on #303
Closing in favor of #327

[2017-11-25 05:58] #303 closed

[2017-11-25 05:58] rtfeldman commented on #302
Deprecated in favor of #327

[2017-11-25 05:58] #302 closed

[2017-11-25 06:03] rtfeldman commented on #338
Yup. Such are the dangers of global selectors! This is why I called the module `Css.Foreign` instead of `Css.Global` - I recommend using it only for styling DOM nodes you do not control.

I understand that maintaining a hover state in your Elm `Model` may seem like an unnecessary amount of effort to avoid using a global selector, but the upside is that you don't have to worry about it breaking you

[2017-11-25 06:04] rtfeldman commented on #335
@maxhallinan Yeah, looks like a bug. I'd definitely appreciate a PR for a fix!

[2017-11-25 06:04] rtfeldman commented on #325
Closing in favor of #327

[2017-11-25 06:04] #325 closed

[2017-11-25 06:05] rtfeldman commented on #317
Closing in favor of #327

[2017-11-25 06:05] #317 closed

[2017-11-25 06:05] rtfeldman commented on #210
Closing in favor of #327

[2017-11-25 06:05] #210 closed

[2017-11-25 06:05] rtfeldman commented on #109
Closing in favor of #327

[2017-11-25 06:05] #109 closed

[2017-11-25 06:06] rtfeldman commented on #51
There doesn't seem to be any demand for this. Closing for now!

[2017-11-25 06:06] #51 closed

[2017-11-25 06:06] rtfeldman commented on #180
Closing in favor of #327

[2017-11-25 06:06] #180 closed

[2017-11-25 06:06] rtfeldman commented on #32
Closing in favor of #327

[2017-11-25 06:06] #32 closed

[2017-11-25 06:07] rtfeldman commented on #278
Closing in favor of #327

[2017-11-25 06:07] #278 closed

[2017-11-25 06:18] aleksdao commented on #337
I recently learned React Native for Web's Stylesheet also generates one class per declaration. Nicholas Gallagher shared some great insights on their Stylesheet implementation in this talk (React Rally: https://youtu.be/tFFn39lLO-U?t=997)

[2017-11-25 08:09] mfeineis commented on #337
First things first: thank you Richard for this library, I really like this new approach for CSS in Elm.

As of now I haven't encountered this issue but my take on this would be this: as a user of the library my expectation would be that subsequent styles would enhance/override previous ones. The fact that under the hood the subsequent CSS batches are probably kept in a flat list imho is an impleme

[2017-11-25 16:00] rtfeldman commented on #337
Another possible solution is making it so that if we give the same element multiple `css` attributes, it only uses the last one.

That means we'd have to do all mixing and matching at the `Style` level, but perhaps that's the least surprising/error-prone policy. 🤔

[2017-11-26 00:24] #295 closed

[2017-11-26 19:34] edkv commented on #339
@rtfeldman I'm implementing `Svg.Styled` and I've noticed that the `styled` function is defined in the `Html.Styled.Attributes` module. Is this really intended? It seems to me that `Html.Styled` is a better place for it since it works with nodes and not with attributes. Maybe we should move it?

[2017-11-26 20:56] rtfeldman commented on #339
👍 I agree! Go ahead and move it.

The fix for https://github.com/rtfeldman/elm-css/issues/337 (namely making it so that if you provide multiple `css` attributes to the same element, only one has any effect) should be a breaking release anyway.

[2017-11-27 03:12] rtfeldman opened #341 "Idea: Trying out Atomic Style Output"
It's possible that Atomic CSS-style output (each declaration gets its own classname) would be better than doing hashed classes. It's not clear if this is a good idea, but it seems worth considering.

Design gotchas to watch out for: (some helpful replies [to this tweet](https://twitter.com/rtfeldman/status/934304637137670144))

1. What do we do in the case of custom properties generated with `prop

[2017-11-27 13:08] rtfeldman commented on #339
Fixed by #342

[2017-11-27 13:08] #339 closed

[2017-11-28 00:46] sporto commented on #338
I'm hitting the same issue, before we were doing everything by using `Html.CssHelpers.withNamespace `. But I understand that this is not the recommend way anymore. Because something to do with `toString` going away, right?

Targeting descendants is a common thing. But putting hover state in Elm is an unnecessary complex solution when we already have `:hover`. And hover is not the only case when ta

[2017-11-28 03:40] rtfeldman commented on #338
Off the top of my head, here's an idea:

[code]

This could generate CSS like:

[code]

Then it would add `class "._d74fa3_test"` to the `"Hello!"` span and nothing to the other element.

However, this approach only works with children, not arbitrary descendants. 🤔

[2017-11-28 11:11] sporto commented on #338
Unsure if this makes any sense, but I imagine something like diving the process into two steps.

First you create the styles, these styles can be used inside other styles to obtain their hash.

[code]

And then they can be used in the Styled.Html
[code]

[2017-11-28 16:04] edkv commented on #338
I've tried the approach with storing hover state in the `Model` and now I think it's actually not that bad. The problem is that it will probably introduce many stateful components that need to maintain their hover/focus/etc state and also to be reusable. And I'm actually okay with this because I'm building my app with components anyway. But for people who want to follow the "reusable views" philos

[2017-11-28 16:48] edkv commented on #337
I think it's very natural that later styles override previous ones. Maybe it's not very critical but I think it would be better if we can avoid this solution.

I don't have time to investigate whether the following is possible, but can we somehow concatenate styles from all `css` attributes before calculating a hash? If it suddenly works, we can later experiment with class-per-definition approach

[2017-11-28 16:58] edkv opened #343 "Rename the css function to "styles"?"
I don't have any strong arguments about this but it just feels nicer to me :)

[code]

And we can also rename the `style` attribute to `inlineStyles`. This will make the difference between them clearer.

[2017-11-28 18:32] maxhallinan commented on #335
Thanks for taking a look. I'll work on a fix.

[2017-11-28 20:04] rtfeldman commented on #343
I thought about this at first, but I've often found myself writing functions that take an argument called `styles` which is a `List Style`, and it would be annoying to have that shadow the same function.

I also like how this is farther away from `style`, so if there are any places where you're still using `style` instead of `css`, they stand out!

It's important to me that `Html.Styled` and frien

[2017-11-28 20:13] rtfeldman commented on #338
@sporto Unfortunately that approach will have hash collisions with styles that happen to be identical in the non-hover state.

So if I do this:

[code]

...and then I do this:

[code]

That `hover` will always set the color to `black`, and it will do so both for elements that use `iconStyles` and for elements that use `labelStyles` - because both `labelStyles` and `iconStyles` will necessarily hav

[2017-11-28 20:22] rtfeldman commented on #337
That's what I thought at first, but the more I've thought about it, the more strongly I've concluded that "it only uses one `css` attribute and ignores the rest" is the way to go. It's by far the least error-prone option, and thus the best for long-term maintenance. The other approaches are (arguably?) slightly more convenient in some circumstances, but to me, that's not enough to justify making t

[2017-11-29 09:20] edkv commented on #343
Well, it is probably always possible to rename it to something like `buttonStyles` instead.

Ok, this makes sense!

[2017-11-29 09:20] #343 closed

[2017-11-30 16:44] Stijnkool opened #347 "Svg.Styled is needed or Html.Styled.Attributes.toUnstyled is needed"
Like `Html.Styled`, `Svg.Styled` is required:
- to use `Svg` elements inside `Html.Styled` elements.
- to be able to add styles to `Svg` elements

Is there a way to use `Svg` elements inside `Html.Styled` in the meantime?
I tried writing svg elements using the `node` and `attribute` functions from `Html.Styled`.
But `attribute` doesn't allow camelcase `viewBox`, and the related issue https://githu

[2017-11-30 16:48] Stijnkool commented on #347
I am not sure if `Svg.Styled` is needed, `fromUnstyled` can be used to transform `Svg` into `Html.Styled`.
http://package.elm-lang.org/packages/rtfeldman/elm-css/12.0.0/Html-Styled#fromUnstyled

[2017-11-30 17:47] QuinnFreedman commented on #265
can you just put multiple `boxShadow` calls in a stylesheet? For example

[code]

If that doesn't work, what about keeping the existing implementation adding an new method `multiBoxShadows` that takes a list of BoxShadow's. I'm not sure what the type Signature would look like since the `boxShadow` methods return a `Style`.

[2017-11-30 18:07] Stijnkool commented on #341
- When each declaration gets its own class, how would cascading work when there are multiple declarations for the same css poperty? Should all those declarations be collapsed into the one the gets priority? In that case, also collapse custom properties with the same name into one, and there should not be an issue concerning https://github.com/rtfeldman/elm-css/issues/337.
- How do media queries ca

[2017-11-30 18:48] edkv commented on #347
`Svg.Styled` is already implemented in the `html-styled` branch and will be available in the next release!

Meanwhile, you can use `Css.asPairsDEPRECATED >> Html.Attributes.style` (note that I'm using the regular `Html` package here) to style your SVG with inline styles (or use `Css.Foreign`).

[2017-11-30 19:54] edkv opened #348 "Html.Styled.Lazy API defeats VirtualDom.lazy's checks"
Here is the definition of the `lazy` function:
[code]
The important part is that we create the function which we then pass to `lazy` on the fly with
`Html.toUnstyled >> fn`.

I've just discovered that `VirtualDom.lazy` doesn't do any optimizations with functions that are not defined statically. See the following example: https://ellie-app.com/9r58v3htva1/0.

Only `model.value1` is passed to `lazy`

[2017-11-30 20:13] rtfeldman commented on #348
Bah, good catch. The API needs to be:

[code]

...and then the caller has to call `toUnstyled` in the named function.

I just verified that this fixes it. Will make a PR.

Thanks for reporting this!

[2017-11-30 20:23] #348 closed

[2017-11-30 20:23] #337 closed

[2017-11-30 20:25] rtfeldman commented on #347
Thanks! I agree, and this is already merged into `master` - will be available in the next release!

[2017-11-30 20:25] #347 closed

[2017-11-30 20:28] rtfeldman commented on #341
The last one should win, I suppose unless an earlier one uses `!important`. So if I write `css [ color blue, color green ]` it should only emit the equivalent of `color green`, but if I write  `css [ color blue |> important, color green ]`, then it should only emit the equivalent of `color blue`.

https://github.com/rtfeldman/elm-css/pull/345 fixed #337 by changing to a "last one wins" policy rega

[2017-11-30 20:29] rtfeldman commented on #341
Yeah, that seems pretty bad. I'm not sure if it's a deal-breaker, but it is very close to one in my mind. 🤔

[2017-11-30 20:38] edkv commented on #348
Oh, I'm glad there is a workaround! Sad that it's no longer a drop-in replacement though.

[2017-12-01 17:34] Stijnkool opened #352 "pseudo-class nested in a media query does not output anything, the reverse does."
This works (outputs the correct css):
[code]
This does not work, but is allowed (does not output any css):
[code]
This is also the way you write normal css, with the media query on the outside.

- Because we have to use the media query on the inside of the pseudo-class, you have to write multiple media queries if you want extra rules not related to the pseudo class. This results in extra generated

[2017-12-01 17:58] rtfeldman commented on #352
@tolgap any ideas what the culprit might be? 🤔

[2017-12-01 18:00] edkv commented on #352
This is a duplicate of #311.

[2017-12-03 19:57] mburri opened #353 "Documentation - Improve examples for Css.Foreign"
the examples for the Css.Foreign module (http://package.elm-lang.org/packages/rtfeldman/elm-css/12.0.0/Css-Foreign#class) are using the deprecated method DEPRECATED.Css.File.stylesheet:
[code]

the examples could use the function Css.Foreign.global instead, e.g.

[code]

[2017-12-04 18:34] rtfeldman commented on #334
I'm curious about doing something like [what Atomic CSS does](https://acss.io/#colors) - that is, using shorthand string concatenation instead of hashing, e.g.

[code]

would compile to:

[code]

Besides removing the possibility for collisions, one upside of this approach would be that this would presumably run faster than computing a hash would.

One downside would be that when doing server-side

[2017-12-04 19:16] Skinney commented on #334
I can think of a few more negatives.

1) Longer class names clutters the browsers html debug view (minor inconvenience, admittedly )
2) Code size for the final `.js` file would increase (I'm assuming this would take a relative large `case...of` statement to translate into shorthand strings).

I think @eeue56 suggestion is a good one. Appending the length of the CSS string, that is.

[2017-12-05 16:37] mburri commented on #353
seems to be fixed in version 13.0.0 - thanks for the great work!

[2017-12-05 16:37] #353 closed

[2017-12-06 08:54] tolgap commented on #352
@rtfeldman Yup I know where to find the culprit, will take a crack at it this week.

[2017-12-11 10:58] tolgap commented on #352
@rtfeldman @edkv I've looked into this a few hours. I have found the culprit, but the solution is mind boggling.

The issue is right at this line: https://github.com/rtfeldman/elm-css/blob/master/src/Css/Preprocess/Resolve.elm#L381

On that line, we lose all nested children's information with regards to the media query.

That is because `collectSelectors` does not collect any child selectors: http

[2017-12-12 17:58] andys8 commented on #334
Adding the length of a string is basically adding a very weak second hash algorithm. Isn't this the same as concatenating two hash algorithm results or using one but with longer result values?

[2017-12-12 23:28] eeue56 commented on #334
It's a essentially a very weak salt. It's probably worth doing some maths to see how helpful it is for sure.

[2017-12-14 20:32] anagrius commented on #51
I want is very much :)

[2017-12-15 23:01] rtfeldman opened #358 "Move `Css.Colors` into separate package?"
Including `Css.Colors` as a convenience seemed like a good idea at the time, but now I'm thinking it's not worth cluttering up the `Css.` namespace with it.

Without `Css.Colors`, we'd have:

[code]

I like that better. It makes sense to me that these would be separate modules, and that you'd start by learning `Css`, then `Css.Media`, then optionally `Css.Foreign`.

To access the nicer colors, I c

[2017-12-16 03:22] hendriklammers opened #359 "Styling on body or html tag"
Is it possible to put styling on the body or html tag with this library? I couldn't find anything about it in the documentation.
For example: I would like to remove the default margin from the body.

[2017-12-16 03:51] rtfeldman commented on #359
Yep! Check out http://package.elm-lang.org/packages/rtfeldman/elm-css/13.0.1/Css-Foreign#global 😄

[2017-12-16 03:51] #359 closed

[2017-12-16 03:54] hendriklammers commented on #359
Ah great. Thnx!

[2017-12-16 11:58] mfeineis commented on #358
That's a good idea, convenient as they may be, the easy colors are not really necessary for the core package. I like how everybody who is doing Elm sponges up that `what-can-I-remove-to-make-it-better` attitude. I wish TC39 would take a hint from that - https://github.com/tc39/proposal-do-expressions, https://github.com/tc39/proposal-pipeline-operator, https://github.com/tc39/proposal-pattern-matc

[2017-12-16 19:30] rtfeldman opened #360 "Rename `Css.Foreign` to `Css.Global`?"
I called [the module](http://package.elm-lang.org/packages/rtfeldman/elm-css/13.0.1/Css-Foreign) `Css.Foreign` in order to emphasize when it's intended to be used.

However, [this question](https://github.com/rtfeldman/elm-css/issues/359) of how to style `<html>` and `<body>` suggests this name hurts discoverability.

Sure, if you already know that `Css.Foreign` is  for styling "foreign DOM struct

[2017-12-17 03:30] rtfeldman opened #362 "Documentation needed for Css.Transitions"
https://github.com/rtfeldman/elm-css/pull/324 implemented CSS transitions. Great start!

However, we need lots of documentation before these can be released. 😄

Anyone interested in contributing some?

[2017-12-17 03:34] rtfeldman opened #363 "Tests needed for Css.Transitions"
#324 implemented CSS transitions. Great start!

However, we need lots of tests before these can be released with any confidence. 😄

Anyone interested in contributing some?

[2017-12-17 15:33] edkv commented on #358
I'm against this :) Named colors are the part of CSS so I would expect this package (or any similar) to provide them. I use at least `black` and `white` quite often. But why do we even need a separate module? Maybe move these functions directly to `Css`?

[2017-12-17 16:20] edkv opened #364 "Idea about Lazy"
I have an idea how to improve Lazy API and still avoid #348:

[code]

VirtualDom compares arguments by reference in JS so we can safely pass `fn` to it. The problem is that `lazy` is implemented with the usage of `VirtualDom.lazy2` and `lazy2` will then use `VirtualDom.lazy3`... and it seems that there is no way to implement `lazy3` in which case it must use a different API. I don't know if it's w

[2017-12-17 19:10] rtfeldman commented on #364
Yep, @mdgriffith introduced me to this technique - he's using it in `style-elements`.

I like the idea, and I think we should switch to it post-0.19 when `lazy` is going to go up to something like `lazy8`.

[2017-12-17 19:21] rtfeldman commented on #358
That's interesting...yeah, we could group them all together under a docs heading. 🤔

[2017-12-18 10:30] edkv commented on #364
Ok, cool!

[2017-12-19 21:28] mfeineis commented on #358
Still not a fan, what's the problem with `hex "000000"` and `hex "ffffff"`?

[2017-12-19 22:06] edkv commented on #358
@mfeineis No problems:) I just don't really see harm in including these functions.

[2017-12-20 22:20] sporto commented on #358
I'm favour of moving this to another package. We have never used `Css.Colors` so at least for us it seems like unnecessary kilobytes. Besides it doesn't implement the level 2 colors so is not that useful.

[2017-12-22 14:32] #352 closed

[2017-12-22 14:43] rtfeldman commented on #352
This is fixed on `master` but won't be out until the next major release. (I tried backporting it to 13.0.1 but too much has changed.)

[2017-12-22 14:43] rtfeldman commented on #311
This is fixed on `master` but won't be out until the next major release. (I tried backporting it to 13.0.1 but too much has changed.)

[2017-12-22 14:43] #311 closed

[2017-12-22 21:27] mthadley commented on #76
Just out of curiosity, what is the status of this now?

I recently was converting over some Sass styles to `elm-css` and realized that I didn't have a way of translating over the color mixing that I had.

[2017-12-23 22:59] rtfeldman opened #374 "Replace all TODO comments with issues"
Issues are better for tracking TODOs than comments in source code are!

[2017-12-25 04:21] rtfeldman opened #375 "Phantom Values (contributors, please take note!)"
I'm working on having `Css.Value` use phantom types. (More on what this means below.)

If you're using `elm-css`, you may not even notice this change when it comes out (except that you may notice things running faster), but if you're contributing to current `master`, this will almost certainly lead to merge conflicts - so watch out! Any large PR will likely need numerous changes once this is finis

[2018-01-11 14:26] heracek opened #378 "Super-strange elm-css/Chrome bug of "media query" in combination with "CSS style change""
Hi, we've found a super-strange bug when running `elm-css@13.0.1` in **Chrome v63.0.3239.132**.
Same bug occured on **macOS Sierra 10.12.6** and on other machine with **Windows 10**.
Bug is also in **Chrome Canary v65.0.3317.0**.

We were not able to replicate this bug on in other browser.

This bug occures when combining **media query** and **views that change `css` based on `model`**.

## Bug De

[2018-01-11 17:44] robertbasden commented on #362
Hi there! I would be interested in taking on this issue, any particular guidelines you would like followed? I will try and match comment style with the other documentation as much as possible.

[2018-01-11 22:20] rtfeldman commented on #362
That would be fantastic! ❤️

Following the current style sounds like a good start; I'd be happy to give inline feedback on a PR!

[2018-01-11 22:22] rtfeldman commented on #378
Wow, that's...really bizarre! It definitely seems like a bug in the browser. I'm not sure what we could do to work around that.

If you have any ideas, I'm open to them!

[2018-01-12 08:15] robertbasden commented on #362
Sweet! I will take a look and submit PR once I think its good for review.

[2018-01-16 09:59] heracek commented on #378
I tried to hack `toUnstyled` to use `keyedNode` with key containing whole style to replace `<style>` element on CSS change. And it didn't help.

What helped is to notify Chrome using `insertRule`. It's an ugly hack, but adding this helped:
[code]
https://ellie-app.com/embed/gQBcw4jjqa1/11

[2018-01-16 21:16] rtfeldman commented on #378
Long-term, I've talked with Evan about having us be able to use `insertRule` directly. I presume that would address this, although I don't think it'll happen soon.

[2018-01-20 16:38] mikolajpp commented on #76
This feature would be very useful: currently I need to keep duplicate
colors for style-elements and Css which I use to style foreign app.

[2018-01-26 10:42] tsawan commented on #363
Hi there! I would like to contribute here. Let me know how best to start on this?

[2018-01-29 09:17] ahstro opened #381 "Expose program et al."
https://elmlang.slack.com/archives/C0HJVT881/p1517080261000066

[2018-01-29 20:01] rtfeldman commented on #381
Not by design, just an oversight...`program` equivalents seem worth adding!

[2018-01-31 15:10] ahstro commented on #381
Closed in ff06ba9821b04f5ad126976e01dd7227fde6a70e
Thanks! 😄

[2018-01-31 15:10] #381 closed

[2018-02-02 00:29] robertbasden commented on #362
PR is in - let me know your thoughts and ill amend as required!

[2018-02-02 18:58] AntouanK commented on #269
@Enkidatron Is there any update on getting support for grids?

[2018-02-06 15:49] tsawan commented on #363
I've started going through transitions source and tests for other modules.

[2018-02-07 23:16] #362 closed

[2018-02-07 23:16] rtfeldman commented on #363
Awesome, thanks @tsawan!

The module just had documentation merged in https://github.com/rtfeldman/elm-css/pull/382 in case those are helpful!

[2018-02-10 18:38] tsawan commented on #363
@rtfeldman please have a look at this gist and let me know if I am on the right track.
https://gist.github.com/tsawan/059301b64d5220fdecc26cd35a822d66

[2018-02-15 14:31] Wrent commented on #275
@jeffutter have you managed to solve this?

[2018-02-15 14:32] jeffutter commented on #275
@Wrent nope sorry. I haven't done much with elm lately.

[2018-02-20 12:23] tolgap commented on #375
@rtfeldman Doesn't this commit https://github.com/elm-lang/elm-compiler/commit/5fb82e2d3fd6c62b92b5548cdf119d6f24787a5f "break" phantom types?

[code]

[2018-02-20 22:49] rtfeldman commented on #375
according to Evan:

[2018-02-23 05:32] Fire-Dragon-DoL opened #383 "Any working example of using Css.Foreign (and global)?"
Hello!

I lost the entire evening digging through examples.

I have this simple `Stylesheets.elm` file:

[code]

And I compile it with `elm-css ./src/Stylesheets.elm`. No matter what I do, I get:

[code]

I digged into a various projects using elm-css, but all of them use deprecated `Css.File`.
I need to create css classes for an existing application, so clearly I need to expose some global classe

[2018-03-03 08:36] tsawan commented on #363
@rtfeldman I guess exposing durationTransition was a mistake since I should only be testing public API. Let me know if it's ok to export Animatable(..) and  propToString from the Transitions.elm so I can try to finish this off?

[2018-03-07 14:04] edkv opened #384 "Html.Styled.map performance"
`VirtualDom.map` is O(1) operation. On the other hand, `Html.Styled.map` traverses the entire tree converting all nodes and attributes. Moreover, `view |> map A |> map B` requires traversing the tree twice and so on. And in the end it'll be traversed one more time during the `toUnstyled` call. There should be a smarter way to do this!

A potential solution might be to model the `Node` with functio

[2018-03-14 16:30] Warry opened #385 "nested pseudo selectors are dropped within media-queries"
see the SSCCE: https://ellie-app.com/3fJXyyDq2a1/4

From this this code, the compiled CSS does not include the `firstChild` declaration at all. :

[code]

[2018-03-14 17:51] rtfeldman commented on #384
This is good to think about, but there are a few other performance improvements I want to try first.

The main reason is that my goal is for `Html.Styled` to become ultimately unnecessary, if we get a way to do "virtual CSS" that does `insertRule` behind the scenes. At that point, `css` could be return a plain old `elm-lang/virtual-dom` attribute and still do the right thing.

I don't know for sur

[2018-03-14 19:40] edkv commented on #384
Yeah, this is exactly how I imagined it. But it may take a while before we get support for `insertRule`, so please consider my ideas as a short-term solution after you're done with other optimizations!

[2018-03-16 19:44] rtfeldman commented on #312
My conclusion is that moving these into a different module (`Css.Foreign`) has been sufficient.

[2018-03-16 19:44] #312 closed

[2018-03-16 20:36] rtfeldman commented on #363
@tsawan Thank you for this, and really sorry I took so long responding!

I would definitely not change the `exposing` of the module. What I'd do instead is to render a trivial `stylesheet` all the way to a `String` (e.g. `"p { background-color: blue; }`) and then test the compiled string.

Check out `expectPropertyWorks` in `tests/Properties.elm` - I'd start by copying that, and then modifying it

[2018-03-19 14:25] fbedussi opened #386 "Chrome: subscription to Window.resizes interferes with media queries"
# Scenario
Use Chrome browser.
There is a responsive app.
Under the mobile breakpoint the main menu is a panel sliding in from the left. Above the breakpoint (desktop mode) the menu is a static sidebar.
There is a subscription to `Window.resizes` to close the menu on window resize, in order to close the panel when crossing the breakpoint and switching from mobile to desktop mode:
[code]
The app is

[2018-03-20 15:48] tsawan commented on #363
@rtfeldman I am a bit stuck on tests for functions that take TimingFunction (e.g,. background3). Since Css.Transitions.TimingFunction is not exposed, I can't add type signatures.

[2018-03-21 01:43] BrianHicks opened #387 "Confusing docs left over from HTML import"
observation: the docs for `Html.Styled.Attributes.style` say:

... which seems like a copy/paste that could just end up being confusing.

[2018-03-27 14:07] midorikocak opened #388 "Elm-css for an existing project"
Hello,

Currently I have a project that heavily uses Html, Html.Attributes and Html.Events. We have different html elements with class attributes and we have bunch of css files in the project which are getting bigger and bigger.

I wanted to introduce elm-css to the project and I was willing to have different styles in different files and able to import them to our existing elements. I am also usi

[2018-03-27 14:40] midorikocak commented on #383
Following this.

[2018-03-27 15:33] midorikocak commented on #52
following

[2018-03-29 10:52] rlefevre commented on #383
Here is how I use them if this can be helpful: https://ellie-app.com/npLtqk4KZa1/1

[code]

# Notes
- In real life, I would not use global classes to style some text like in this example. I would use them only for `html`, `body` or some web components that I cannot style with `Html.Styled.styled` (or for some rare performance issues).
- In Elm 0.19, `toString` will most likely be available only in

[2018-03-29 11:35] rlefevre commented on #388
You can use `Html.Styled` imports instead of `Html`, and if you have some modules that you cannot or do not want to change, use [fromUnstyled](http://package.elm-lang.org/packages/rtfeldman/elm-css/13.1.1/Html-Styled#fromUnstyled) and [toUnstyled](http://package.elm-lang.org/packages/rtfeldman/elm-css/13.1.1/Html-Styled#toUnstyled) to convert the views type.

Note that one case for which you curre

[2018-03-29 14:37] rlefevre commented on #265
Using multiple `boxShadow` does not work, the first `boxShadow2` will be ignored in favour of the `boxShadow3` one. See https://ellie-app.com/qpLJnCFsTa1/0.

We could keep the existing API and add something like:
[code]
and have most of the code common with the existing implementation, but is it worth it (versus breaking the existing API) given the recent major changes with `Html.Styled`?

Another

[2018-03-30 12:19] tsawan commented on #363
@rtfeldman PR submitted.

[2018-03-30 22:32] rtfeldman commented on #265
Here's how I have it implemented on the `phantom-types` branch: https://github.com/rtfeldman/elm-css/blob/9c51043d2a00927efa778c2702de3ae6ca4190ed/src/Css.elm#L1155-L1174

[2018-03-30 22:52] rtfeldman opened #392 "Phantom Types TODO List"
This issue will help coordinate efforts on https://github.com/rtfeldman/elm-css/issues/375 (the [`phantom-types` branch](https://github.com/rtfeldman/elm-css/tree/phantom-types))

If you'd like to pitch in, awesome! Here are some guidelines on how to contribute: https://github.com/rtfeldman/elm-css/wiki/Phantom-Types:-Contributing

If you'd like to grab one (or a related set) of these, comment bel

[2018-03-31 02:39] #363 closed

[2018-03-31 02:44] #387 closed

[2018-04-02 14:55] BrianHicks commented on #392
I'll take `background`! (1-7 inclusive)

What do you think would be the best diff to look at so I don't submit something unexpected in a PR?

[2018-04-02 16:14] rtfeldman commented on #392
@BrianHicks For `backgroundImage` I'd look at how `cursor` works, since it also accepts `url`.

I think for `backgroundRepeat` you'll also end up implementing a bunch of related ones like `noRepeat`. I'd look at `backgroundAttachment` for an example of how that works. (There's also `backgroundAttachments` - the plural of `backgroundAttachment`, that is - which accepts a `List`. I don't know if tha

[2018-04-02 16:58] BrianHicks commented on #392
Mmm, my bad. I guess I was after general advice for the other 356 items to make this low-hanging fruit even lower. Based on our chat elsewhere, here's how you'd upgrade one item:

1. find a similar type already in this branch and modify it to work with the new types and according to the CSS spec.
1. copy docs from master, if they're present.
1. change MDN links to css-tricks links if available.
1.

[2018-04-02 17:01] BrianHicks commented on #392
also, ah dang you already did this in the wiki! Nice! I just missed it.

[2018-04-03 08:49] midorikocak commented on #388
If there was a documentation on how to add elm-css to existing projects, that would be good.

[2018-04-03 18:46] sturgman commented on #392
I did textTransform and its values since I identified that one as a very easy one and I am a total beginner on this stuff. I did:

- textTransform
- capitalize
- uppercase
- lowercase
- fullWidth

If you can review when you get a chance and let me know if I did it correctly I can submit you a list of some others I can do (with less hand-holding/reviewing). Here it is: [textTransform](https://githu

[2018-04-03 20:42] BrianHicks commented on #392
looks like I'll also need to do the linearGradients for backgroundImage

[2018-04-05 05:09] MiracleBlue opened #397 "Documentation parsing bug causing certain links to become "mailto""
Hi there,

The rendered documentation page for Media.elm has a couple of links to MDN's `@media` documentation pages, and due to the `@` symbol appearing in these URLs, the Markdown parser seems to be turning them into `mailto` links instead of normal web links.

One specific case can be found here: http://package.elm-lang.org/packages/rtfeldman/elm-css/13.1.1/Css-Media#MediaType

The link it refe

[2018-04-05 07:44] tolgap commented on #397
The URL without `@` seems to redirect to the same page. It could simply be removed: https://developer.mozilla.org/en-US/docs/Web/CSS/media#Media_types

[2018-04-12 17:00] BrianHicks opened #398 "pretty-printed CSS is bigger than necessary for SSR"
I was messing around with server-side rendering for elm-conf.us and noticed that elm-css always outputs pretty-printed CSS when using `Html.Styled`. This made the payloads grow. Not by a *lot*, mind you, but by enough that I was curious if it will cause problems down the road for folks who are doing the same thing.

[2018-04-16 19:33] juanedi commented on #392
👋 `overflow`, `overflowX`, `overflowY` and `overflowWrap`: https://github.com/rtfeldman/elm-css/pull/400

[2018-04-16 22:58] peacememories commented on #269
I would also love to have grid support in elm-css. using `property` does work but the added type safety of elm-css would be much appreciated

[2018-04-17 21:25] sturgman commented on #392
I can work on:
- `textRendering` [305] and its values `optimizeSpeed` [206], `optimizeLegibility` [205], and `geometricPrecision` [140]. It seems that `auto` is already implemented.
- `textOrientation` [303] and its values `mixed` [?], `upright` [?], `sideways` [?]. Maybe there is a reason the list is missing the values for `textOrientation`? MDN also claims that `sidewaysRight` is an alias to `si

[2018-04-17 21:30] rtfeldman commented on #392
Nice, sounds good @sturgman!

I avoid including things that are deprecated, or which are too new to have widespread browser support yet. I don't think we need the aliases.

[2018-04-21 17:28] rtfeldman opened #407 "Document toUnstyled/fromUnstyled"
Not sure how I missed this originally. 😅

[2018-04-21 22:53] tolgap commented on #392
#408 includes:

* `z-index`
* `position`
* `absolute`, `fixed`, `relative`, `static`, `sticky`
* `top`, `left`, `bottom`, `right`

[2018-04-22 11:28] owanturist commented on #375
@rtfeldman could you add link to the issue at README? Maybe on the top that contributors see it first.

[2018-04-22 12:03] rtfeldman commented on #375
@owanturist Added to `ISSUE_TEMPLATE.md` and `PULL_REQUEST_TEMPLATE.md` in https://github.com/rtfeldman/elm-css/commit/3fd114227797f1dfb76bb49ff0ae27aa010fc1cf

[2018-04-24 09:14] owanturist commented on #392
I'd like to take some `border` properties with values:

### Border with single argument:
- [ ] `border*` [2-4]
- [ ] `borderColor*` [25-28]
- [ ] `borderStyle` {64} + adding of `borderStyle{2, 3, 4}`
- [ ] `borderWidth*` [75-78]

### Border with multiple arguments:
- [ ] `borderTop*` [65-68] {73, 74}
- [ ] `borderRight*` [58-63]
- [ ] `borderBottom*` [15-18] {23, 24}
- [ ] `borderLeft*` [48-53]

#

[2018-04-24 17:25] rtfeldman commented on #392
Sounds great @owanturist! 🤘

[2018-04-26 03:04] owanturist commented on #392
I'd like to grab all `border-radius` properties: `[16-19, 41-48]`

@rtfeldman please mark `borderBottom*` `([12-15], {20, 21})` properties in TODO list as done 😃

[2018-04-26 11:02] ssbb opened #415 "Avoid generating multiple classes for elements"
@rtfeldman As per Slack discussion elm-css should not generate multiple classes.

Example: https://ellie-app.com/9P7wNngFQa1/1

Multiple classes generated for 2nd and 3rd buttons.

# Expected behavior:

- 2nd buttons should have single class with all styles overwritten
- 3rd button should have single class. it feels natural to have all styles applied so it should have `fontSize`, `backgroundColor`

[2018-04-29 17:06] brianvanburken commented on #392
I'd would like to add the following properties 🙂

- [ ] `float`
- [ ] `word-break` (missing from the TODO list. Docs: [mdn](https://developer.mozilla.org/en-US/docs/Web/CSS/word-break))
- [ ] `fill`
- [ ] `order`
- [ ] `visibility`

[2018-05-01 19:31] rtfeldman commented on #298
Closing since namespace has been deprecated!

[2018-05-01 19:31] #298 closed

[2018-05-01 19:31] rtfeldman commented on #332
Closing since namespace has been deprecated!

[2018-05-01 19:31] #332 closed

[2018-05-01 19:33] rtfeldman commented on #248
I've decided against this. 😄

[2018-05-01 19:33] #248 closed

[2018-05-01 19:33] rtfeldman commented on #234
Released in `14.0.0`! Thanks, all!

[2018-05-01 19:33] #234 closed

[2018-05-01 19:34] rtfeldman commented on #204
Closing now that we have a first-class media query API!

[2018-05-01 19:34] #204 closed

[2018-05-02 19:49] rtfeldman commented on #415
`toUnstyled` should always generate and emit one class per element. If it's not, that's a bug!

[2018-05-03 06:58] brianvanburken commented on #392
I see that the following SVG related properties are missing from the TODO list:

- [ ] [`stroke`](https://css-tricks.com/almanac/properties/s/stroke/)
- [ ] [`stroke-dasharray`](https://css-tricks.com/almanac/properties/s/stroke-dasharray/)
- [ ] [`stroke-dashoffset`](https://css-tricks.com/almanac/properties/s/stroke-dashoffset/)
- [ ] [`stroke-linecap`](https://css-tricks.com/almanac/properties/

[2018-05-03 15:35] owanturist commented on #392
@rtfeldman I'm going to adapt `padding` properties: `[115-118,124-126]` and `{121}`.

[2018-05-06 15:34] rtfeldman commented on #392
@brianvanburken Added `stroke` and related ones to the list - thanks for pointing them out!

[2018-05-08 16:46] brianvanburken commented on #392
The following properties are missing from the [fill w3 spec](https://www.w3.org/TR/fill-stroke-3/):
- [ ] `fill-break`
- [ ] `fill-color`
- [ ] `fill-image`
- [ ] `fill-opacity`
- [ ] `fill-origin`
- [ ] `fill-position`
- [ ] `fill-repeat`
- [ ] `fill-rule`
- [ ] `fill-size`

Furthermore I did an check against the TODO list and CSS tricks Almanac to find missing properties defined there. Below is

[2018-05-10 09:44] owanturist commented on #392
@rtfeldman I think `margin*` properties will be next (`[114-117, 123-125]`, `{120}`) for adaptation by me)

[2018-05-11 04:29] kfrn commented on #388
Thanks for this issue. My use case is not quite the same as @midorikocak, but maybe some things in common. We have a large codebase with complex views - our styles are in SCSS, but there are a few places where we have inline styles for practical reasons.

In the places where we're using the [`style`](http://package.elm-lang.org/packages/elm-lang/html/2.0.0/Html-Attributes#style) attribute, I'm try

[2018-05-15 06:59] owanturist commented on #392
@rtfeldman I'd like to grab next properties:

- `textDecoration{1-3}`
- `textDecorationLine`
- `textDecorationStyle`
- `textDecorationColor`

with corresponding values:
- `underline`
- `overline`
- `lineThrough`

and I think those properties are invalid (I haven't found any of them):
- `textDecorations{1-3}` (plural)
- `textDecorationLines` (plural)

[2018-05-15 18:06] brianvanburken commented on #392
I'll be working on the column related properties next:
- [ ] columnCount
- [ ] columnFill
- [ ] columnGap
- [ ] columnRule
- [ ] columnSpan
- [ ] columnWidth
- [ ] columns

[2018-05-17 20:39] sturgman commented on #415
I gave myself a challenge of diagnosing this bug and attempting a fix. I have tracked it down to `VirtualDom.Styled` and in particular the following functions: `unstyle`, `unstyleKeyed`, `accumulateStyledHtml`, and `accumulateKeyedStyledHtml`. There may be similar things on the SVG side of things but I did not check. Those functions do a `List.map extractUnstyledProperty properties` the result of

[2018-05-26 21:31] azer commented on #313
Is it possible to create keyframes with `property` function ?

[2018-05-26 22:32] FranzSkuffka commented on #20
Any updates on this?

[2018-05-30 14:20] azer opened #430 "Nested selectors not working"
Selectors allow us create keyframes theoretically, but we're not able to create nested selectors.

For example, following code;

[code]

Outputs:

[code]

Instead of;

[code]

[2018-06-10 18:42] rtfeldman opened #431 "Animation API Design [feedback welcome!]"
I'd like to add animations to `elm-css`, which requires some API design work. CSS Tricks has [the best intro I've read on the subject of CSS animations](https://css-tricks.com/using-multi-step-animations-transitions/), and it also has links to MDN at the end.

Here is my idea for an API:

[code]

[2018-06-10 19:15] rtfeldman opened #432 "Introduce a Css.Property module?"
## Problem

Some CSS property names are also value names. For example, there's the [`left` property](https://developer.mozilla.org/en-US/docs/Web/CSS/left) (e.g. `left: 5px`) and the [`left` value](https://developer.mozilla.org/en-US/docs/Web/CSS/float#Values) (e.g. `float: left`).

In `elm-css`, properties are functions and values use open records to deal with how many CSS values are overloaded f

[2018-06-10 19:17] rtfeldman commented on #430
You're totally right @azer! Thanks for reporting this. I've opened https://github.com/rtfeldman/elm-css/issues/431 to discuss a first-class keyframes API.

[2018-06-10 19:17] #430 closed

[2018-06-10 19:19] rtfeldman commented on #397
Thanks for the report @MiracleBlue, and thanks for identifying a fix @tolgap! I edited the title to reflect what we should do about this.

[2018-06-10 20:05] Arkham commented on #392
I'll pick up the `borderBlock*` ones.

[2018-06-10 20:20] rtfeldman commented on #383
Thanks @rlefevre! It seems like your post answered the original question, so I'm gonna close this. 🙂

[2018-06-10 20:20] #383 closed

[2018-06-10 20:30] rtfeldman commented on #198
Closing in favor of discussion on this proposed fix: https://github.com/rtfeldman/elm-css/issues/432

[2018-06-10 20:30] #198 closed

[2018-06-10 20:32] Arkham commented on #392
Actually, the following list of properties are tagged as experimental on the MDN website, so maybe we should remove them from the list:
- `borderBlockEnd*`
- `borderBlockStart*`
- `borderInlineEnd*`
- `borderInlineStart*`
- `paddingBlockEnd`
- `paddingBlockStart`
- `paddingInlineEnd`
- `paddingInlineStart`